{% extends "base.html" %}

{% block title %}Page Not found{% endblock %}

{% block content %}
<h1>Page Not found</h1>

<p>This is not the page you were looking for.</p>
{% endblock content %}

{% block breadcrumb %}{% endblock %}
