{% load staticfiles i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}winda{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
         <!-- Links to fonts from the Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,400,300,700&subset=cyrillic' rel='stylesheet' type='text/css'>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'bower_components/datatables.net-dt/css/jquery.dataTables.min.css' %}" />
        <link rel="stylesheet" href="{% static 'bower_components/datatables.net-responsive-dt/css/responsive.dataTables.min.css' %}" />
        <link rel="stylesheet" href="{% static 'bower_components/lightslider/dist/css/lightslider.min.css' %}" />

        <!-- Your stuff: Third-party css libraries go here -->

        <!-- This file store project specific CSS -->
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/print.css' %}" type="text/css" media="print">
    {% endblock %}

</head>

<body>

{% block header %}
<header class="header-main">
    <div class="header-top">
        <div class="container">
            <a class="logo" href="{% url 'home' %}">
                <img class="main-logo" src="{% static 'images/logo.png' %}" alt="winda" />
                <img class="logo-mobile hidden" src="{% static 'images/logo-white.png' %}" alt="winda" />
            </a>
            <span class="pull-right user-header hidden-xs">
            {% if request.user.is_authenticated %}
                {% block info %}
               <span class="icon icon-ic_user"></span> <strong class="full-name">{{ request.user.first_name }} {{ request.user.last_name }}</strong> {{ request.user.extra_title }}
                {% endblock info %}
            {% endif %}</span>
        </div>
    </div>

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                {% include 'include/menu.html' %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
{% endblock header %}
<main>
    <div class="container">

        <ol class="breadcrumb">
            {% block breadcrumb %}
                <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
            {% endblock %}
        </ol>

        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}
            <p>Use this document as a way to quick start any new project.</p>
        {% endblock content %}

    </div>
    <!-- /container -->
</main>
<div class="spinner-wrapper">
    <div class="loader">Loading...</div>
</div>
{% block modal %}
<div class="modal fade confirm-modal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Confirm</h4>
            </div>
            <div class="modal-body">
                 <h5 class="confirm-title"></h5>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary confirm-btn-on">{% trans "Yes" %}</a>
                <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-default black secondary">{% trans "No" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock modal %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}
    <!-- jQuery -->
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.min.js' %}"></script>
    <script src="{% static 'bower_components/lightslider/dist/js/lightslider.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/main.min.js' %}"></script>
    <!-- Google Analytics -->
    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '{{settings.GOOGLE_ANALYTICS_TRACKING_ID}}', 'auto');
    ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
{% endblock javascript %}
</body>
</html>
