{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
    <div class="container">
        <p class="alert alert-info">{% trans 'You are successfully logged out.' %}</p>
    </div>
{% endblock %}

{% block breadcrumb %}{% endblock %}
