{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ flatpage.title }}{% endblock title %}

{% block content %}
<div class="flat-wrapper">
    {{ flatpage.content }}
</div>
{% endblock content %}

{% block breadcrumb %}
    {{ block.super }}
    {% if not flatpage.url == '/about/' %}
        <li><a href="{% url 'about' %}">{% trans 'About' %}</a></li>
    {% endif %}
    <li>{{ flatpage.title }}</li>
{% endblock %}

{% block header %}{% with active_tab='about' %}{{ block.super }}{% endwith %}{% endblock header %}
