{% extends "base.html" %}
{% load i18n %}

{% block title %}Winda Organization{% endblock title %}
{% block content %}
<ul class="list-menu-home">
    <li>
        <a href="{% url 'organization:search' %}">
           <figure>
                <div class="icon-wrapper"><span class="icon icon-ic_titles_search_training_record"></span></div>
                <figcaption>
                    <h4>{% trans 'Search Training Records' %}</h4>
                    <small>{% trans 'Search for individuals and verify their current GWO certified training status. You can search for up to 100 WINDA ID’s at a time, if the individuals have provided you with their WINDA ID.' %}</small>
                </figcaption>
            </figure>
        </a>
    </li>
    <li>
        <a href="{% url 'organization:profile' user.pk %}">
           <figure>
                <div class="icon-wrapper"><span class="icon icon-ic_titles_edit_profile"></span></div>
                <figcaption>
                    <h4>{% trans 'My Profile' %}</h4>
                    <small>{% trans 'View or update the information in your profile if you have changed organisation, job title or email. Please make sure that the information in your profile is always up to date.' %}</small>
                </figcaption>
            </figure>
        </a>
    </li>
</ul>
{% endblock content %}

{% block breadcrumb %}{% endblock %}
