{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}Winda Organization{% endblock title %}

{% block content %}
<form method="POST" action="#" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" form="{{ form.job_title.id_for_label }}">{{ form.job_title.label|capfirst }}</label>
            <div class="col-sm-9">
                {% render_field form.job_title class='form-control' placeholder=form.job_title.label|capfirst %}
                <div class="errors">{{ form.job_title.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" form="{{ form.first_name.id_for_label }}">{{ form.first_name.label|capfirst }}</label>
            <div class="col-sm-9">
                {% render_field form.first_name class='form-control' placeholder=form.first_name.label|capfirst %}
                <div class="errors">{{ form.first_name.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" form="{{ form.last_name.id_for_label }}">{{ form.last_name.label|capfirst }}</label>
            <div class="col-sm-9">
                {% render_field form.last_name class='form-control' placeholder=form.last_name.label|capfirst %}
                <div class="errors">{{ form.last_name.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" form="{{ form.email.id_for_label }}">{{ form.email.label|capfirst }}</label>
            <div class="col-sm-9">
                {% render_field form.email class='form-control' placeholder=form.email.label|capfirst %}
                <p class="help-block"><strong class="text-orange">{% trans 'Important' %}:</strong> {{form.email.help_text}}</p>
                <div class="errors">{{ form.email.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" form="{{ form.phone.id_for_label }}">{{ form.phone.label|capfirst }}</label>
            <div class="col-sm-9">
                {% render_field form.phone class='form-control' placeholder=form.phone.label|capfirst %}
                <div class="errors">{{ form.phone.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" form="{{ form.organization_name.id_for_label }}">{{ form.organization_name.label|capfirst }}</label>
            <div class="col-sm-9">
                {% render_field form.organization_name class='form-control' placeholder=form.organization_name.label|capfirst %}
                <div class="errors">{{ form.organization_name.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" form="{{ form.address_1.id_for_label }}">{{ form.address_1.label|capfirst }}</label>
            <div class="col-sm-9">
                {% render_field form.address_1 class='form-control' placeholder=form.address_1.label|capfirst %}
                <div class="errors">{{ form.address_1.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" form="{{ form.address_2.id_for_label }}">{{ form.address_2.label|capfirst }}</label>
            <div class="col-sm-9">
                {% render_field form.address_2 class='form-control' placeholder=form.address_2.label|capfirst %}
                <div class="errors">{{ form.address_2.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" form="{{ form.city.id_for_label }}">{{ form.city.label|capfirst }}</label>
            <div class="col-sm-9">
                {% render_field form.city class='form-control' placeholder=form.city.label|capfirst %}
                <div class="errors">{{ form.city.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" form="{{ form.postal_code.id_for_label }}">{{ form.postal_code.label|capfirst }}</label>
            <div class="col-sm-9">
                {% render_field form.postal_code class='form-control' placeholder=form.postal_code.label|capfirst %}
                <div class="errors">{{ form.postal_code.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" form="{{ form.country.id_for_label }}">{{ form.country.label|capfirst }}</label>
            <div class="col-sm-9">
                {% render_field form.country class='form-control' placeholder=form.country.label|capfirst %}
                <div class="errors">{{ form.country.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" form="{{ form.timezone.id_for_label }}">{{ form.timezone.label|capfirst }}</label>
            <div class="col-sm-9">
                {% render_field form.timezone class='form-control' placeholder=form.timezone.label|capfirst %}
                <div class="errors">{{ form.timezone.errors }}</div>
            </div>
        </div>
    </fieldset>
    <div class="text-center">
        <button class="btn btn-primary btn-lg text-uppercase" type="submit">{% trans "Update Profile" %}</button>
    </div>
</form>
{% endblock %}

{% block breadcrumb %}
    {{block.super}}
    <li><a href="{% url 'organization:profile' user.pk %}">{% trans 'My Profile' %}</a></li>
{% endblock %}
