{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Search Training Provider" %}{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'organization:search' %}">{% trans 'Search Training Provider' %}</a></li>
{% endblock %}

{% block content %}

        <h4 class="text-center">{% trans 'Search results show current training records only.' %}</h4>
        <h4 class="text-center">{% trans 'Search results valid as at' %} {% now 'DATETIME_FORMAT' %}.</h4>
        <p class="text-right search-results">
        {% if is_grid_displayed %}
            <a href="{% url 'organization:search_results' %}">{% trans 'Switch to table view' %}</a>
        {% else %}
            <a href="{% url 'organization:grid_search_results' %}">{% trans 'Switch to grid view' %}</a>
        {% endif %}
        </p>
        <table id="{% if is_grid_displayed %}organization-grid-search-result{% else %}organization-search-result{% endif %}"
               class="display responsive nowrap dataTable no-footer dtr-inline" data-fields="{{ form.FIELDS.values|length }}">
            <thead><tr>
                {% for title in form.FIELDS.values %}
                    <th>{{ title }}</th>
                {% endfor %}
            </tr></thead>
            <tbody></tbody>
        </table>

{% endblock content %}
