{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load common %}

{% block title %}
    {{ confirmation.get_registration_type_display|title }}
    {% trans "account actvation"|title %}
{% endblock title %}

{% block content %}
<div class="wrapper-form">
    <h2>{{ confirmation.get_registration_type_display|title }} {% trans "account activation"|title %}</h2>
    {% if delegate_id_fail %}
        <p class="alert alert-warning">{% blocktrans %}Winda ID cannot be generated at this time, please try again later.{% endblocktrans %}</p>
    {% elif confirmation and not confirmation.is_activated %}
        <p>{% trans "Choose your WINDA password. Please note that the password must be at least 8 characters long. Your password is personal and must not be shared with anyone." %}</p>
        <form class="form-horizontal" method="post" action="{{ confirmation.registration_type|get_confirmation_url:confirmation.activation_code }}">
            {% csrf_token %}
            <fieldset>
                {% include 'common/forms.html' %}
            </fieldset>
            <div class="text-center">
                <button class="submit btn btn-primary btn-lg text-uppercase" type="submit">{% trans 'Activate and Login' %}</button>
            </div>
        </form>
    {% elif confirmation.claimed_at or confirmation.verified %}
        <p class="alert alert-info">{% blocktrans %}Account has already been activated. Please login to your account.{% endblocktrans %}</p>
    {% elif confirmation.key_expired %}
        <p class="alert alert-warning">{% blocktrans %}Activation code has expired. Please register for a new account.{% endblocktrans %}
    {% else %}
        <p class="alert alert-warning">{% blocktrans %}Unknown activation code. Please register for a new account.{% endblocktrans %}</p>
    {% endif %}
</div>
{% endblock %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block header %}{% with active_tab='signup' %}{{ block.super }}{% endwith %}{% endblock header %}
