{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block content %}
<div class="wrapper-form">
    <h2>{% trans "Login" %}</h2>

    <p>{% trans "Please enter your email address and password to log into WINDA."%}</p>

    <form class="login form-horizontal" method="POST" action="{% url 'account_login' %}">
        <fieldset>
            {% csrf_token %}
            <div class="form-group row">
                <label class="col-sm-3 control-label" form="{{ form.login.id_for_label }}">{{ form.login.label|capfirst }}</label>
                <div class="col-sm-9">
                    {% render_field form.login class='form-control' placeholder=form.login.label|capfirst %}
                    <div class="errors">{{ form.login.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label" form="{{ form.password.id_for_label }}">{{ form.password.label|capfirst }}</label>
                <div class="col-sm-9">
                    {% render_field form.password class='form-control' placeholder=form.password.label|capfirst %}
                    <div class="errors">{{ form.password.errors }}</div>
                </div>
            </div>
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="form-group text-right row">
                <div class="col-sm-12">
                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </div>
            </div>
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
            {% endif %}
        </fieldset>
        <div class="text-center">
            <button class="btn btn-primary btn-lg text-uppercase" type="submit">{% trans "Login" %}</button>
        </div>
    </form>
</div>
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li>{% trans "Login" %}</li>
{% endblock breadcrumb %}

{% block header %}{% with active_tab='login' %}{{ block.super }}{% endwith %}{% endblock header %}
