{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="wrapper-form">
    {% if activation_code_fail %}
        <p>{% blocktrans %}Invalid password reset code. Please reset your password again.{% endblocktrans %}</p>
    {% elif lost_password.is_invalid %}
        <p>{% blocktrans %}Password reset code has expired. Please reset your password again.{% endblocktrans %}</p>
    {% else %}
        <p>{% trans "Please choose a new password to WINDA. The password must be at least 8 characters long. Your password is personal and must not be shared with anyone." %}</p>
        <form method="POST" action="#" class="form-horizontal">
            {% csrf_token %}
            <fieldset>
            {% include 'common/forms.html' %}
            </fieldset>
            <div class="text-center">
                <button class="btn btn-primary btn-lg text-uppercase" type="submit" name="action">{% trans "Reset password" %}</button>
            </div>
        </form>
    {% endif %}
</div>
{% endblock content %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'account_login' %}">{% trans "Login" %}</a></li>
    <li>{% trans "Change Password" %}</li>
{% endblock breadcrumb %}

{% block header %}{% with active_tab='login' %}{{ block.super }}{% endwith %}{% endblock header %}
