{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">
        <h2>{% trans "Change Password" %}</h2>
        <p>{% trans 'Your password is now changed.' %}</p>
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'account_login' %}">{% trans "Login" %}</a></li>
    <li>{% trans "Change Password" %}</li>
{% endblock breadcrumb %}

{% block header %}{% with active_tab='login' %}{{ block.super }}{% endwith %}{% endblock header %}
