{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="wrapper-form">
    <h2>{% trans "Change Password" %}</h2>

    <form method="POST" action="" class="password_change form-horizontal">
        {% csrf_token %}
        <fieldset>
            {% include 'common/forms.html' %}
        </fieldset>
        <div class="text-center">
            <button class="btn btn-primary btn-lg text-uppercase" type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
</div>
{% endblock %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block header %}{% with active_tab='change_password' %}{{ block.super }}{% endwith %}{% endblock header %}
