{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Forgot Password" %}{% endblock %}

{% block content %}
    <div class="wrapper-form">
        <h2>{% trans "Password Reset" %}</h2>
        <p>{% trans "Please enter the email address you have registered in WINDA to reset your password. You will receive an email with a password reset link." %}</p>
        {% if user.is_authenticated %}
            {% include "account/includes/already_logged_in.html" %}
        {% endif %}

        <form method="POST" action="#" class="form-horizontal">
            {% csrf_token %}
            <fieldset>
                <div class="form-group row">
                    <label class="col-sm-2 control-label" form="{{ form.email.id_for_label }}">{{ form.email.label|capfirst }}</label>
                    <div class="col-sm-10">
                        {% render_field form.email class='form-control' placeholder=form.email.label|capfirst %}
                        <div class="errors">{{ form.email.errors }}</div>
                    </div>
                </div>
            </fieldset>
            <div class="text-center">
                <button class="btn btn-primary btn-lg text-uppercase" type="submit">{% trans "Reset Password" %}</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% if not user.is_authenticated %}
        <li><a href="{% url 'account_login' %}">{% trans "Login" %}</a></li>
    {% endif %}
    <li>{% trans "Forgot Password" %}</li>
{% endblock breadcrumb %}

{% block header %}{% with active_tab='login' %}{{ block.super }}{% endwith %}{% endblock header %}
