{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            {% include "account/includes/already_logged_in.html" %}
        {% endif %}
        <p class="alert alert-info">{% blocktrans with email=request.session.reset_password_email %}
            An email has been sent to {{ email }} with instructions for resetting your password.
            Please check your email inbox.
        {% endblocktrans %}</p>
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% if not user.is_authenticated %}
        <li><a href="{% url 'account_login' %}">{% trans "Login" %}</a></li>
    {% endif %}
    <li>{% trans "Forgot Password" %}</li>
{% endblock breadcrumb %}

{% block header %}{% with active_tab='login' %}{{ block.super }}{% endwith %}{% endblock header %}
