{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<ul class="list-menu-home">
    <li>
        <a href="{% url 'delegate_signup' %}">
           <figure>
                <div class="icon-wrapper"><span class="icon  icon-ic_titles_delegate_reg"></span></div>
                <figcaption>
                    <h4>{% trans 'Delegate registration'|title %}</h4>
                    <small>{% trans 'Register for a profile in WINDA here if you are an individual working in the wind industry and need GWO certified training.' %}</small>
                </figcaption>
            </figure>
        </a>
    </li>
    <li>
        <a href="{% url 'organization_signup' %}">
           <figure>
                <div class="icon-wrapper"><span class="icon icon-ic_titles_company_reg"></span></div>
                <figcaption>
                    <h4>{% trans 'Organization registration'|title %}</h4>
                    <small>{% trans 'Register for a profile in WINDA here if you need to verify the current GWO certified training status of individuals.' %}</small>
                </figcaption>
            </figure>
        </a>
    </li>
    <li>
        <a href="{% url 'training_provider_signup' %}">
           <figure>
                <div class="icon-wrapper"><span class="icon  icon-ic_titles_training_reg"></span></div>
                <figcaption>
                    <h4>{% trans 'Training provider registration'|title %}</h4>
                    <small>{% trans 'Register for a profile in WINDA here if you are a GWO certified Training Provider. One appointed person from each GWO certified training site must register for an account. Once the account has been approved, the account administrator can then add co-workers to the profile.' %}</small>
                </figcaption>
            </figure>
        </a>
    </li>
</ul>
{% endblock content %}

{% block breadcrumb %}
    {{ block.super }}
    <li>{% trans "Registration" %}</li>
{% endblock breadcrumb %}

{% block header %}{% with active_tab='signup' %}{{ block.super }}{% endwith %}{% endblock header %}
