{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load common %}

{% block title %}{% trans "Signup" %}{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'signup' %}">{% trans "Registration" %}</a></li>
    <li>{{ form.registration_type|get_registration_type_display|title }} {% trans "Registration" %}</li>
{% endblock breadcrumb %}

{% block header %}{% with active_tab='signup' %}{{ block.super }}{% endwith %}{% endblock header %}

{% block content %}

<div class="wrapper-form">
    <h2>{% trans "Sign Up" %}</h2>

    {% if is_delegate %}
    <!-- reg delegate -->
    <p>{% trans "Register for a profile in WINDA by filling out all of the required fields and accepting the Terms & Conditions and Privacy Policy. When you have registered and completed the set-up process, you will receive your WINDA ID. GWO certified Training Providers will be able to add training records to your profile by using your WINDA ID and employers will be able to verify your training status, if you provide them with your WINDA ID." %}</p>
    {% elif is_organization %}
    <!-- Organisation Registration -->
    <p>{% trans "Register for a profile in WINDA by filling out all of the required fields and accepting the Terms & Conditions and Privacy Policy. When you have registered in WINDA and completed the set-up process, you will be able to look up and verify the current training status of individuals if they have provided you with their WINDA ID." %}</p>
    {% elif is_training_provider %}
    <!-- Training Provider Registration -->
    <p>{% trans "Register for a profile in WINDA by filling out all of the required fields, attaching your GWO certificates in PDF format and accepting the Service Level Agreement, Terms & Conditions and the Privacy Policy. Each certified site must register with one (1) account. When you have registered in WINDA and completed the set-up process, you will be able to add co-workers to your WINDA account, upload training records and look up and verify the training status of individuals, if they have provided you with their WINDA ID." %}</p>
    {% endif %}

    <form method="post" action="#" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            {% for field in form.visible_fields %}
                {% if field.name not in 'terms,policy,agreement'|split:"," %}
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-right" form="{{ field.id_for_label }}">{{ field.label|capfirst }}</label>
                        <div class="col-sm-9">
                            {% render_field field class='form-control' placeholder=field.label|capfirst %}
                            {% if field.help_text %}<p class="help-block"><strong class="text-orange">{% trans 'Important' %}:</strong></span> {{ field.help_text }}</p>{% endif %}
                            <div class="errors">{{ field.errors }}</div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </fieldset>
        {% if formset %}
            <h2>{% trans 'certificates'|title %}</h2>
            <!-- {{ formset.management_form }} -->
            <input data-bind="value: numberClone" id="id_form-TOTAL_FORMS" name="form-TOTAL_FORMS" type="hidden" value="1">
            <input id="id_form-INITIAL_FORMS" name="form-INITIAL_FORMS" type="hidden" value="0">
            <input id="id_form-MIN_NUM_FORMS" name="form-MIN_NUM_FORMS" type="hidden" value="1">
            <input id="id_form-MAX_NUM_FORMS" name="form-MAX_NUM_FORMS" type="hidden" value="20">
            {% if formset.non_form_errors %}
                <div class="alert alert-danger" role="alert">{{ formset.non_form_errors }}</div>
            {% endif %}

            <div class="hidden">
                <div id="clone-fieldset">
                    {% with form=formset.empty_form %}
                        {% include 'account/includes/formset.html' %}
                    {% endwith %}​
                </div>
            </div>

            <div class="clone-wrapper" data-bind="foreach: StockItems">
                {% for form in formset %}
                    <fieldset class="clone-item">
                        <div class="tittle row">
                            <h3 class="col-sm-9">{% trans 'certificate'|title %} <span data-bind='text: ($index() + 1)'></span></h3>
                            <a data-bind="click: $root.removeCloneItem, visible: $root.numberClone() > 1" class="col-sm-3 text-right remove-clone" href="#">{% trans 'remove certificate'|capfirst %}</a>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" data-bind='attr: { for:"id_form-" + ($index()) + "-certificate_file" }'>{{ form.certificate_file.label|capfirst }}</label>
                            <div class="col-sm-9">
                                <label class="btn btn-primary btn-file" >
                                    {% trans 'Browse' %}
                                    {% render_field form.certificate_file|attr:"data-bind:attr: { id:'id_form-' + ($index()) + '-certificate_file', name:'form-' + ($index()) + '-certificate_file' }" accept='application/pdf' data-max-file-size=max_file_size %}
                                </label>
                                <span class="file-name-wrapper"><span class="file-name"></span> <span type="button" class="close text-left">&times;</span></span>
                                <p class="help-block"><strong class="text-orange">Important:</strong> {{ form.certificate_file.help_text }}</p>
                                <div class="errors">{{ form.certificate_file.errors }}</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" data-bind='attr: { for:"id_form-" + ($index()) + "-certificate_number" }'>{{ form.certificate_number.label|capfirst }}</label>
                            <div class="col-sm-9">
                               {% render_field form.certificate_number|attr:"data-bind:attr: { id:'id_form-' + ($index()) + '-certificate_number', name:'form-' + ($index()) + '-certificate_number' }" class='form-control' placeholder=form.certificate_number.label|capfirst %}
                                <div class="errors">{{ form.certificate_number.errors }}</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" data-bind='attr: { for:"id_form-" + ($index()) + "-valid_from" }'>{{ form.valid_from.label|capfirst }}</label>
                            <div class="col-sm-9">
                                <span class="input-group date" class="date-start">
                                    {% render_field form.valid_from|attr:"data-bind:attr: { id:'id_form-' + ($index()) + '-valid_from', name:'form-' + ($index()) + '-certificate_file' }" class='form-control' placeholder=form.valid_from.label|capfirst %}
                                    <span style="" class="input-group-addon">
                                        <span class="icon icon-btn_calendar"></span>
                                    </span>
                                </span>
                                <div class="errors">{{ form.valid_from.errors }}</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" data-bind='attr: { for:"id_form-" + ($index()) + "-valid_until" }'>{{ form.valid_until.label|capfirst }}</label>
                            <div class="col-sm-9">
                                <span class="input-group date" class="date-end">
                                    {% render_field form.valid_until|attr:"data-bind:attr: { id:'id_form-' + ($index()) + '-valid_until', name:'form-' + ($index()) + '-valid_until' }" class='form-control' placeholder=form.valid_until.label|capfirst %}
                                    <span style="" class="input-group-addon">
                                        <span class="icon icon-btn_calendar"></span>
                                    </span>
                                </span>
                                <div class="errors">{{ form.valid_until.errors }}</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" form="{{ form.courses.id_for_label }}">{{ form.courses.label|capfirst }}</label>
                            <div class="col-sm-9">
                                {% for radio in form.courses %}
                                    <div class="checkbox">
                                        <label>{{ radio.tag }} <span class="check"></span> {{ radio.choice_label }}</label>
                                    </div>
                                {% endfor %}
                                <div class="errors">{{ form.courses.errors }}</div>
                            </div>
                        </div>

                        {% for field in form.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                    </fieldset>
                {% endfor %}
            </div>

            <div class="text-right">
                <button data-bind='click: addCloneItem' class="btn btn-default add-clone" type="button">{% trans 'Add Certificate' %}</button>
            </div>
        {% endif %}

        <div class="form-group block-center">
        {% for field in form.visible_fields %}
            {% if field.name in 'terms,policy,agreement'|split:"," %}
            {% if field.name == 'terms' %}
                <div class="checkbox">
                    <label>{{ field }} <span class="check"></span> {% trans 'I accept the' %}</label> <a href="{% url 'terms' %}">{% trans 'Terms and Conditions' %}</a>
                </div>
            {% elif field.name == 'policy' %}
                <div class="checkbox">
                    <label>{{ field }} <span class="check"></span> {% trans 'I accept the' %}</label> <a href="{% url 'privacy' %}">{% trans 'Privacy policy' %}</a>
                </div>
            {% elif field.name == 'agreement' %}
                <div class="checkbox">
                    <label>{{ field }} <span class="check"></span> {% trans 'I accept the' %}</label> <a href="{% url 'agreement' %}">{% trans 'Service level agreement' %}</a>
                </div>
            {% endif %}
            <div class="errors">{{ field.errors }}</div>
            {% endif %}
        {% endfor %}
        </div>

        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="text-center">
            <button class="btn btn-primary btn-lg text-uppercase" type="submit">{% trans "registration"|title %}</button>
        </div>
    </form>
</div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script>
        var AddCloneViewModel = function() {
            var self = this;
            self.StockItems = ko.observableArray();
            self.numberClone = ko.observable(0);

            this.addCloneItem = function() {
                var toClone = self.StockItems()[self.StockItems().length - 1]
                self.StockItems.push({toClone, numberClone: self.StockItems().length + 1});
                self.numberClone(self.StockItems().length);
            };

            this.addCloneItem();

            self.removeCloneItem = function(data) {
                self.StockItems.remove(data);
                self.numberClone(self.StockItems().length);
            };

        };
         
        ko.applyBindings(new AddCloneViewModel());
    </script>
{% endblock javascript %}
