{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h2>{% trans 'account review required'|title %}</h2>
    <p class="alert alert-info">{% blocktrans %}
        Thank you for registering. Your account must be reviewed and validated by the WINDA team before it is ready for use.
        The WINDA team will be in contact if there are any problems with your account.
    {% endblocktrans %}</p>
    <p class="alert alert-info">{% blocktrans %}Once your account has been reviewed yo will be able to login access your account.{% endblocktrans %}</p>
{% endblock content %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'signup' %}">{% trans "Registration" %}</a></li>
    <li>{% trans "Training Provider Registration" %}</li>
{% endblock breadcrumb %}

{% block header %}{% with active_tab='signup' %}{{ block.super }}{% endwith %}{% endblock header %}
