{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h2>{% trans 'account activation required'|title %}</h2>
    <p class="alert alert-info">{% blocktrans with registration_expiry_hours=registration_expiry_hours %}
        Thank you for registering. Your account must be activated before you can use the website.
        If your account is not activated within {{ registration_expiry_hours }} hours it will be deleted
        and you will have register again.
    {% endblocktrans %}</p>
    <p class="alert alert-info">{% blocktrans with email=request.session.user_email %}An email has been sent to {{ email }} with activation instructions.{% endblocktrans %}</p>
    <p class="alert alert-info">{% blocktrans %}Please check your email inbox and follow the link in the email.{% endblocktrans %}</p>
{% endblock content %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'signup' %}">{% trans "Registration" %}</a></li>
    <li>{{ role|title }} {% trans "Registration" %}</li>
{% endblock breadcrumb %}

{% block header %}{% with active_tab='signup' %}{{ block.super }}{% endwith %}{% endblock header %}
