{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Winda Database Admin{% endblock title %}


{% block breadcrumb %}
    {{block.super}}
    <li><a href="{% url 'database_admin:training_providers' %}">{% trans 'Training Providers' %}</a></li>
    <li><a href="{% url 'database_admin:training_provider_detail' pk=provider.pk %}">{{provider.name|capfirst}}</a></li>
    <li><a href="{% url 'database_admin:training_provider_accreditations' parent_pk=provider.pk%}"> {% trans 'Accreditation' %}</a></li>
    <li>{% if object %}{% trans 'Manage Accreditation' %}{% else %}{% trans 'New Accreditation' %}{% endif %}</li>
{% endblock %}

{% block content %}
<div class="wrapper-form">
<h2 class="text-center">
    {% if object %}{% trans 'Manage Accreditation' %}{% else %}{% trans 'New Accreditation' %}{% endif %}
</h2>
{% if object %} <p><a href="{% url 'database_admin:accreditations_change_history' provider.pk object.pk %}" class="btn btn-default">{% trans 'View change history' %}</a></p>{% endif %}
{{ form.non_field_errors }}
<form class="form-horizontal" method="post">
    {% csrf_token %}
    <fieldset>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" for="{{form.course.id_for_label}}" class="col-sm-2 control-label">{{form.course.label|capfirst}}</label>
            <div class="col-sm-9">
                {% render_field form.course class='form-control' placeholder=form.course.label|capfirst %}
                <div class="errors">{{ form.course.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" for="{{form.valid_from.id_for_label}}" class="col-sm-2 control-label">{{form.valid_from.label|capfirst}}</label>
            <div class="col-sm-9">
                <span class="input-group date" class="date-start">
                    {% render_field form.valid_from class='form-control' placeholder=form.valid_from.label|capfirst %}
                    <span style="" class="input-group-addon">
                        <span class="icon icon-btn_calendar"></span>
                    </span>
                </span>
                <div class="errors">{{ form.valid_from.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" for="{{form.valid_until.id_for_label}}" class="col-sm-2 control-label">{{form.valid_until.label|capfirst}}</label>
            <div class="col-sm-9">
                <span class="input-group date" class="date-end">
                    {% render_field form.valid_until class='form-control' placeholder=form.valid_until.label|capfirst %}
                    <span style="" class="input-group-addon">
                        <span class="icon icon-btn_calendar"></span>
                    </span>
                </span>
                <div class="errors">{{ form.valid_until.errors }}</div>
            </div>
        </div>
        {% if object %}
        <div class="form-group row">
            <label class="col-sm-3 col-xs-5 control-label text-right" for="{{form.is_deleted.id_for_label}}" class="col-sm-2 control-label">{{form.is_deleted.label|capfirst}}</label>
            <div class="col-sm-9 col-xs-7">
                <div class="checkbox">
                    <label>{% render_field form.is_deleted class='form-control' placeholder=form.is_deleted.label|capfirst %} <span class="check"></span></label>
                </div>
                <div class="errors">{{ form.is_deleted.errors }}</div>
            </div>
        </div>
        {% endif %}
    </fieldset>
    <div class="text-center">
        <button class="btn btn-primary btn-lg text-uppercase">{% if object %}{% trans 'Update Accreditation' %}{% else %}{% trans 'Add Accreditation' %}{% endif %}</button>
    </div>
</form>
</div>
{% endblock content%}
