{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Winda Database Admin{% endblock title %}


{% block breadcrumb %}
    {{block.super}}
    <li><a href="{% url 'database_admin:training_providers' %}">{% trans 'Training Providers' %}</a></li>
    <li><a href="{% url 'database_admin:training_provider_detail' pk=provider.pk %}">{{provider.name|capfirst}}</a></li>
    <li>{% trans 'Award Credits' %}</li>
{% endblock %}

{% block content %}
<div class="wrapper-form">
<h2 class="text-center">
    {% trans 'Award Credits' %}
</h2>
{{ form.non_field_errors }}
<form class="form-horizontal" method="post">
    {% csrf_token %}
    <fieldset>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" for="training_provider" class="col-sm-2 control-label">{% trans 'Training Provider'%}</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="training_provider" disabled value="{{provider.name}}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" for="{{form.transaction_value.id_for_label}}" class="col-sm-2 control-label">{{form.transaction_value.label|capfirst}}</label>
            <div class="col-sm-9">
                {% render_field form.transaction_value class='form-control' placeholder=form.transaction_value.label|capfirst %}
                <div class="errors">{{ form.transaction_value.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" for="{{form.reason.id_for_label}}" class="col-sm-2 control-label">{{form.reason.label|capfirst}}</label>
            <div class="col-sm-9">
                {% render_field form.reason class='form-control' placeholder=form.reason.label|capfirst %}
                <div class="errors">{{ form.reason.errors }}</div>
            </div>
        </div>
    </fieldset>
    <div class="text-center">
        <button class="btn btn-primary btn-lg text-uppercase">{% trans 'Award Credits' %}</button>
    </div>
</form>
</div>
{% endblock content%}
