{% load widget_tweaks %}
{{ form.non_field_errors }}
<div class="form-group">
    <label for="{{form.date_from.id_for_label}}">{{form.date_from.label|capfirst}}</label>
    <div>
        <span class="input-group date" class="date-start">
            {% render_field form.date_from class='form-control datepicker' placeholder='---' %}
            <span style="" class="input-group-addon">
                <span class="icon icon-btn_calendar"></span>
            </span>
        </span>
        {{form.date_from.errors}}
    </div>
</div>
<div class="form-group">
    <label for="{{form.date_until.id_for_label}}">{{form.date_until.label|capfirst}}</label>
    <div>
        <span class="input-group date" class="date-end">
            {% render_field form.date_until class='form-control datepicker' placeholder='---' %}
            <span style="" class="input-group-addon">
                <span class="icon icon-btn_calendar"></span>
            </span>
        </span>
        {{form.date_until.errors}}
    </div>
</div>
