{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% blocktrans %}Winda Database Admin{% endblocktrans %}{% endblock title %}

{% block breadcrumb %}
    {{block.super}}
    <li><a href="{% url 'database_admin:training_providers' %}">{% trans 'Training Providers' %}</a></li>
    <li><a href="{% url 'database_admin:training_provider_detail' pk=provider.pk %}">{{provider.name|capfirst}}</a></li>
    <li>{% trans 'Certifications' %}</li>
{% endblock %}

{% block content %}

    <h2 class="text-center">{% trans 'Certifications' %}</h2>
    <p>
        <a href="{% url 'database_admin:training_provider_certifications_create' parent_pk=provider.pk %}" class="btn btn-default">{% trans 'New certification'|capfirst %}</a>
    </p>

    <table id="database_admin_certification" class="display responsive nowrap dataTable no-footer dtr-inline">
        <thead><tr>
            {% for title in form.FIELDS.values %}
                <th>{{ title|title }}</th>
            {% endfor %}
        </tr></thead>
        <tbody></tbody>
    </table>
{% endblock content %}
