{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Winda Database Admin{% endblock title %}


{% block breadcrumb %}
    {{block.super}}
    <li><a href="{% url 'database_admin:training_providers' %}">{% trans 'Training Providers' %}</a></li>
    <li><a href="{% url 'database_admin:training_provider_detail' pk=provider.pk %}">{{provider.name|capfirst}}</a></li>
    <li><a href="{% url 'database_admin:training_provider_certifications' parent_pk=provider.pk%}"> {% trans 'Certifications' %}</a></li>
    <li>{% if object %}{% trans 'Manage Certification' %}{% else %}{% trans 'New Certification' %}{% endif %}</li>
{% endblock %}

{% block content %}
<div class="wrapper-form">
<h2 class="text-center">
    {% if object %}{% trans 'Manage Certification' %}{% else %}{% trans 'New Certification' %}{% endif %}
</h2>
{% if object %}<p><a class="btn btn-default" href="{% url 'database_admin:certification_change_history' provider.pk object.pk %}">{% trans 'View change history' %}</a>{% endif %}
{{ form.non_field_errors }}
<form class="form-horizontal" method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    <fieldset>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" for="provider_name">{% trans 'Training Provider' %}</label>
            <div class="col-sm-9">
                <input type="text" value="{{provider.name}}" readonly="true" class="form-control no-binput" name="provider_name">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" for="{{form.certificate_number.id_for_label}}">{{form.certificate_number.label|capfirst}}</label>
            <div class="col-sm-9">
                {% render_field form.certificate_number class='form-control' placeholder=form.certificate_number.label|capfirst %}
                <div class="errors">{{ form.certificate_number.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" for="{{form.certificate_file.id_for_label}}">{{form.certificate_file.label|capfirst}}</label>
            <div class="col-sm-9">
                {% render_field form.certificate_file class='form-control' placeholder=form.certificate_file.label|capfirst accept='application/pdf' %}
                <span class="file-name-wrapper"><span class="file-name"></span> <span type="button" class="close text-left">&times;</span></span>
                <div class="errors">{{ form.certificate_file.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" for="{{form.valid_from.id_for_label}}">{{form.valid_from.label|capfirst}}</label>
            <div class="col-sm-9">
                <span class="input-group date" class="date-start">
                    {% render_field form.valid_from class='form-control datepicker' placeholder=form.valid_from.label|capfirst %}
                    <span style="" class="input-group-addon">
                        <span class="icon icon-btn_calendar"></span>
                    </span>
                </span>
                <div class="errors">{{ form.valid_from.errors }}</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" for="{{form.valid_until.id_for_label}}">{{form.valid_until.label|capfirst}}</label>
            <div class="col-sm-9">
                <span class="input-group date" class="date-end">
                    {% render_field form.valid_until class='form-control datepicker' placeholder=form.valid_until.label|capfirst %}
                    <span style="" class="input-group-addon">
                        <span class="icon icon-btn_calendar"></span>
                    </span>
                </span>
                <div class="errors">{{ form.valid_until.errors }}</div>
            </div>
        </div>
        {% if object %}
        <div class="form-group row">
            <label class="col-sm-3 col-xs-4 control-label text-right" for="{{form.is_deleted.id_for_label}}">{{form.is_deleted.label|capfirst}}</label>
            <div class="col-sm-9 col-xs-8">
                <div class="checkbox">
                    <label>{% render_field form.is_deleted class='form-control' placeholder=form.is_deleted.label|capfirst %} <span class="check"></span></label>
                </div>
                <div class="errors">{{ form.is_deleted.errors }}</div>
            </div>
        </div>
        {% endif %}
    </fieldset>
    <div class="text-center">
        <button class="btn btn-primary btn-lg text-uppercase">{% if object %}{% trans 'Update certification' %}{% else %}{% trans 'Add certification' %}{% endif %}</button>
    </div>
</form>
</div>
{% endblock content%}
