{% extends "database_admin/courses_list.html" %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block breadcrumb %}
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'database_admin:courses' %}">{% trans 'Courses' %}</a></li>
    <li>{%if object %}{{object.code}}{% else %}{% trans 'Create new course' %}{% endif %}</li>
{% endblock %}

{% block content %}
<div class="wrapper-form">
<h2 class="text-center">
    {% if object %}{% trans 'Update Course' %}{% else %}{% trans 'Create new course' %}{% endif %}
</h2>

{% if object %}<p><a class="btn btn-default" href="{% url 'database_admin:course_change_history' object.pk %}">{% trans 'View change history' %}</a></p>{% endif %}
<form class="form-horizontal" method="post">
    {% csrf_token %}
    <fieldset>
    <div class="form-group row">
        <label for="{{form.code.id_for_label}}" class="col-sm-3 control-label text-right">{{'code'|capfirst}}</label>
        <div class="col-sm-9">
        {% if object %}
            <div class="form-control no-binput">{{ object.code }}</div>
        {% else %}
            {% render_field form.code class='form-control' placeholder=form.code.label|capfirst %}
            <div class="errors">{{ form.code.errors }}</div>
        {% endif %}
        </div>
    </div>
    <div class="form-group row">
        <label for="{{form.title.id_for_label}}" class="col-sm-3 control-label text-right">{{form.title.label|capfirst}}</label>
        <div class="col-sm-9">
        {% render_field form.title class='form-control' placeholder=form.title.label|capfirst %}
        <div class="errors">{{ form.title.errors }}</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="{{form.course_type.id_for_label}}" class="col-sm-3 control-label text-right">{{form.course_type.label|capfirst}}</label>
        <div class="col-sm-9">
        {% render_field form.course_type class='form-control' placeholder=form.course_type.label|capfirst %}
        <div class="errors">{{ form.course_type.errors }}</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="{{form.refresher_for_course.id_for_label}}" class="col-sm-3 control-label text-right">{{form.refresher_for_course.label|capfirst}}</label>
        <div class="col-sm-9">
        {% render_field form.refresher_for_course class='form-control' placeholder=form.refresher_for_course.label|capfirst %}
        <div class="errors">{{ form.refresher_for_course.errors }}</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="{{form.require_existing_training_record.id_for_label}}" class="col-sm-3 col-xs-4 control-label text-right">{{form.require_existing_training_record.label|capfirst}}</label>
        <div class="col-sm-9 col-xs-8">
            <div class="checkbox">
                <label>{% render_field form.require_existing_training_record class='form-control' placeholder=form.require_existing_training_record.label|capfirst %} <span class="check"></span></label>
            </div>
        <div class="errors">{{ form.require_existing_training_record.errors }}</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="{{form.validity_months.id_for_label}}" class="col-sm-3 control-label text-right">{{form.validity_months.label|capfirst}}</label>
        <div class="col-sm-9">
        {% render_field form.validity_months class='form-control' placeholder=form.validity_months.label|capfirst %}
        <div class="errors">{{ form.validity_months.errors }}</div>
        </div>
    </div>
    {% if form.non_field_errors %}
       <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
    {% endif %}
    </fieldset>
    <div class="text-center">
        <button class="btn btn-primary btn-lg text-uppercase">{% if object %}{% trans 'Update Course' %}{% else %}{% trans 'Create new course' %}{% endif %}</button>
    </div>
</form>
</div>
{% endblock content %}
