{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Winda Database Admin{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'database_admin:courses' %}">{% trans 'Courses'|title %}</a></li>
    <li><a href="{% url 'database_admin:course_edit' object.pk %}">{{ object.code }}</a></li>
    <li>{% trans 'Change History' %}</li>
{% endblock %}
{% block content %}
    <h2 class="text-center">{% trans 'Change History' %}</h2>

    <table id="change_history" class="display responsive nowrap dataTable no-footer dtr-inline">
        <thead><tr>
            {% for title in form.FIELDS.values %}
                <th>{{ title|title }}</th>
            {% endfor %}
        </tr></thead>
        <tbody></tbody>
    </table>
{% endblock content %}
