{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Winda Database Admin{% endblock title %}

{% block breadcrumb %}
    {{block.super}}
    <li>{% trans 'Courses' %}</li>
{% endblock %}
{% block content %}
    <h2 class="text-center">{% trans 'Courses' %}</h2>
    <p>
        <a href="{% url 'database_admin:course_create' %}" class="btn btn-default">{% trans 'create new course'|capfirst %}</a>
    </p>

    <table id="database_course" class="display responsive nowrap dataTable no-footer dtr-inline">
        <thead><tr>
            {% for title in form.FIELDS.values %}
                <th>{{ title|title }}</th>
            {% endfor %}
        </tr></thead>
        <tbody></tbody>
    </table>
{% endblock content %}

