{% extends "base.html" %}
{% load i18n %}

{% block title %}Winda Database Admin{% endblock title %}

{% block content %}
<ul class="list-menu-home">
    <li>
        <a href="{% url 'database_admin:reports' %}">
           <figure>
                <div class="icon-wrapper"><span class="icon icon-ic_titles_reports"></span></div>
                <figcaption>
                    <h4>{% trans 'Reports' %}</h4>
                    <small>{% trans 'Download reports' %}</small>
                </figcaption>
            </figure>
        </a>
    </li>
    <li>
        <a href="{% url 'database_admin:training_providers' %}">
           <figure>
                <div class="icon-wrapper"><span class="icon icon-ic_titles_training_reg"></span></div>
                <figcaption>
                    <h4>{% trans 'Training Providers' %}</h4>
                    <small>{% trans 'Manage training providers' %}</small>
                </figcaption>
            </figure>
        </a>
    </li>
    <li>
        <a href="{% url 'database_admin:users' %}">
           <figure>
                <div class="icon-wrapper"><span class="icon icon-ic_titles_users"></span></div>
                <figcaption>
                    <h4>{% trans 'Users' %}</h4>
                    <small>{% trans 'Manage delegate organisation and training provider users' %}</small>
                </figcaption>
            </figure>
        </a>
    </li><li>
        <a href="{% url 'database_admin:courses' %}">
           <figure>
                <div class="icon-wrapper"><span class="icon icon-ic_titles_courses"></span></div>
                <figcaption>
                    <h4>{% trans 'Courses' %}</h4>
                    <small>{% trans 'Manage courses' %}</small>
                </figcaption>
            </figure>
        </a>
    </li>
</ul>
{% endblock content %}

{% block breadcrumb %}{% endblock breadcrumb %}
