{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}{% blocktrans %}Winda Database Admin - Mailout{% endblocktrans %}{% endblock title %}


{% block breadcrumb %}
    {{ block.super }}
    <li>{% trans 'Mailout' %}</li>
{% endblock %}

{% block content %}
<div class="wrapper-form">
    <h2 class="text-center">
        {% trans 'Mailout' %}
    </h2>

{{ form.non_field_errors }}
<form class="form-horizontal mailout-form" method="post">
    {% csrf_token %}
    <fieldset>
        <div class="form-group row">
            <label class="col-sm-3 control-label">{% trans 'From' %}</label>
            <div class="col-sm-9"><div class="form-control no-binput">{{ default_from_email }}</div></div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label" for="{{ form.subject.id_for_label }}">{{ form.subject.label|capfirst }}</label>
            <div class="col-sm-9">
                <div class="row">
                        <div class="col-sm-2">
                            <div class="no-binput">
                                {{ prefix }}
                            </div>
                        </div>
                        <div class="col-sm-10">
                            {% render_field form.subject class='form-control' placeholder=form.subject.label|capfirst %}
                            <div class="errors">{{ form.subject.errors }}</div>
                        </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label" for="{{ form.body.id_for_label }}">{{ form.body.label|capfirst }}</label>
            <div class="col-sm-9">
                <div class="helper">{% trans 'Hi' %} {User.FirstName} {User.LastName},</div>
                {% render_field form.body class='form-control' placeholder=form.body.label|capfirst %}
                <div class="errors">{{ form.body.errors }}</div>
                <div class="helper">{% trans 'Regards' %},
                <p></p>
                {% trans 'The WINDA Team' %}</div>
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <label class="col-sm-3 control-label" for="{{ form.role.id_for_label }}">{{ form.role.label|capfirst }}</label>
            <div class="col-sm-9">
                {% for radio in form.role %}
                    <div class="checkbox">
                        <label>{{ radio.tag }} <span class="check"></span> {{ radio.choice_label }}</label>
                    </div>
                {% endfor %}
            </div>

            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="checkbox">
                            <label>{% render_field form.filter_by_country %}<span class="check"></span> {{ form.filter_by_country.label }}</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        {% render_field form.country class='form-control' placeholder=form.country.label|capfirst %}
                        <div class="errors">{{ form.country.errors }}</div>
                    </div>
                </div>
                <br>
            </div>
        </div>

        <hr>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <div class="checkbox">
                    <label>{% render_field form.filter_by_course %}<span class="check"></span> {{ form.filter_by_course.label }}</label>
                    <div class="errors">{{ form.role.errors }}</div>
                </div>
            </div>
        </div>
        <div class="form-group row disabled">
            <label class="col-sm-3 control-label" for="{{ form.training_provider.id_for_label }}">{{ form.training_provider.label|capfirst }}</label>
            <div class="col-sm-9">
                {% render_field form.training_provider class='form-control' placeholder=form.training_provider.label|capfirst %}
                <div class="errors">{{ form.training_provider.errors }}</div>
                <p></p>
            </div>
            <label class="col-sm-3 control-label" for="{{ form.course.id_for_label }}">{{ form.course.label|capfirst }}</label>
            <div class="col-sm-9">
                {% render_field form.course class='form-control' placeholder=form.course.label|capfirst %}
                <p></p>
            </div>
        </div>
        <div class="form-group row disabled">
            <label class="col-sm-3 control-label">{% trans 'Сourse completion was between' %}</label>
            <div class="col-sm-9">
                <div class="helper">{% trans 'Сourse completion was between' %}</div>
                <div class="course-completion ">
                    <div class="course-date-wraper">
                    <label for="id_date_from">Date From</label>
                        <span class="input-group date" class="date-end">
                            {% render_field form.completed_on_start class='form-control' placeholder='- - -' %}
                            <span style="" class="input-group-addon">
                                <span class="icon icon-btn_calendar"></span>
                            </span>
                        </span>
                        <div class="errors">{{ form.completed_on_start.errors }}</div>
                    </div>
                    <div class="course-date-wraper">
                    <label for="id_date_until">Date Until</label>
                        <span class="input-group date" class="date-end">
                            {% render_field form.completed_on_end class='form-control' placeholder='- - -' %}
                            <span style="" class="input-group-addon">
                                <span class="icon icon-btn_calendar"></span>
                            </span>
                        </span>
                        <div class="errors">{{ form.completed_on_end.errors }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <div class="errors">{{ form.filter_by_course.errors }}</div>
            </div>
        </div>
    </fieldset>
    <div class="text-center">
        <button id="send-mailout" class="btn btn-primary btn-lg text-uppercase">{% trans 'Send Mailout' %}</button>
    </div>
</form>
</div>
{% endblock content %}
