{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% blocktrans %}Winda Database Admin - Notification History{% endblocktrans %}{% endblock title %}

{% block breadcrumb %}
    {{block.super}}
    <li><a href="{% url 'database_admin:users' %}">{% trans 'Users' %}</a></li>
    <li><a href="{% url 'database_admin:user_detail' winda_user.pk %}">{{ winda_user.get_full_name }}</a></li>
    <li>{% trans 'Notification History' %}</li>
{% endblock %}

{% block content %}
    <h2 class="text-center">{% trans 'Notification History' %}</h2>
    <table id="notification_history" class="display responsive nowrap dataTable no-footer dtr-inline">
        <thead><tr>
            {% for title in form.FIELDS.values %}
                <th>{{ title }}</th>
            {% endfor %}
        </tr></thead>
        <tbody></tbody>
    </table>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            initializeDataTable('table#notification_history', {
                "order": [[ 1, 'desc' ]],
                "columns": [
                    {"data": "", 'searchable': false, 'orderable': false, "className": "control"},
                    {"data": "id"},
                    {"data": "subject"},
                    {"data": "created"},
                    {"data": "posted_at"},
                    {"data": "notified_at"},
                    {"data": "notification_type"}
                ]
            });
        });
    </script>
{% endblock javascript %}
