{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}Winda Database Admin{% endblock title %}

{% block content %}
<div class="wrapper-form">
    <div>
        <h2 class="text-center">{% trans 'Reports' %}</h2>
    </div>

 <div class="panel panel-default report-wrapper">
    <div class="panel-group accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="{% if not search_report_form_active %}collapsed{% endif %}" data-toggle="collapse" data-parent=".accordion" href="#collapse1">
                        {% trans 'Search Report' %}
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse {% if search_report_form_active %}in{% endif %}">
                <div class="panel-body">
                    <p>{% trans 'Download a CSV file of searches conducted in the given date range inclusive' %}</p>
                    <form class="form-inline" id="search_report" action="{% url 'database_admin:search_report' %}" method='post'>
                        {% csrf_token %}
                        {% include 'database_admin/base_reports_form.html' with form=search_report_form%}
                        <div class="form-group btn-right">
                            <button class="btn btn-primary">{% trans 'Download Search Report' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!-- .panel -->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="{% if not payment_report_form_active %}collapsed{% endif %}" data-toggle="collapse" data-parent=".accordion" href="#collapse2">
                        {% trans 'Payment Report' %}
                    </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse {% if payment_report_form_active %}in{% endif %}">
                <div class="panel-body">
                    <p>{% trans 'Download a CSV file of payments conducted in the given date range inclusive' %}</p>
                    <form class="form-inline" id="payment_report" action="{% url 'database_admin:payment_report' %}" method='post'>
                        {% csrf_token %}
                        {% include 'database_admin/base_reports_form.html' with form=payment_report_form %}
                        <div class="form-group btn-right">
                            <button class="btn btn-primary">{% trans 'Download Payment Report' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!-- .panel -->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="{% if not training_records_report_form_active %}collapsed{% endif %}" data-toggle="collapse" data-parent=".accordion" href="#collapse3">
                        {% trans 'Training Record Report' %}
                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse {% if training_records_report_form_active %}in{% endif%}">
                <div class="panel-body">
                    <p>{% trans 'Download a CSV file of training records conducted in the given date range inclusive' %}</p>
                    <form class="form-inline" id="training_records_report" action="{% url 'database_admin:training_record_report' %}" method='post'>
                        {% csrf_token %}
                        {% with training_records_report_form as form %}
                        {% include 'database_admin/base_reports_form.html' %}
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="{{form.training_provider.id_for_label}}">{{form.training_provider.label|capfirst}}</label>
                                <div>
                                    {% render_field form.training_provider class='form-control' placeholder=form.training_provider.label|capfirst %}
                                    <div class="errors">{{ form.training_provider.errors }}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{form.course.id_for_label}}">{{form.course.label|capfirst}}</label>
                                <div>
                                    {% render_field form.course class='form-control' placeholder=form.course.label|capfirst %}
                                    <div class="errors">{{ form.course.errors }}</div>
                                </div>
                            </div>
                            <div class="form-group btn-right">
                                <button class="btn btn-primary">{% trans 'Download Training Record Report' %}</button>
                            </div>
                        </div>
                        {% endwith %}
                    </form>
                </div>
            </div>
        </div> <!-- .panel -->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="{% if not training_statistics_report_form_active %}collapsed{% endif %}" data-toggle="collapse" data-parent=".accordion" href="#collapse4">
                        {% trans 'Training Statistics Report' %}
                    </a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse {% if training_statistics_report_form_active %}in{% endif%}">
                <div class="panel-body">
                    <p>{% trans 'Download a CSV file of training record statistics conducted in the given date range inclusive' %}</p>
                    <form class="form-inline" id="training_statistics_report" action="{% url 'database_admin:training_statistics_report' %}" method='post'>
                        {% csrf_token %}
                        {% include 'database_admin/base_reports_form.html' with form=training_statistics_report_form %}
                        <div class="form-group btn-right">
                            <button class="btn btn-primary">{% trans 'Download Training Statistics Report' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!-- .panel -->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="{% if not database_growth_report_form_active %}collapsed{% endif %}" data-toggle="collapse" data-parent=".accordion" href="#collapse5">
                        {% trans 'Database Growth Report' %}
                    </a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse {% if database_growth_report_form_active %}in{% endif%}">
                <div class="panel-body">
                    <p>{% trans 'Download a CSV file of training record growth conducted in the given date range inclusive' %}</p>
                    <form class="form-inline" id="database_growth_report" action="{% url 'database_admin:database_growth_report' %}" method='post'>
                        {% csrf_token %}
                        {% include 'database_admin/base_reports_form.html' with form=database_growth_report_form %}
                        <div class="form-group btn-right">
                            <button class="btn btn-primary">{% trans 'Download Training Growth Report' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!-- .panel -->
    </div> <!-- .panel-group -->
</div>
</div>
{% endblock content %}

{% block breadcrumb %}
    {{ block.super }}
    <li>{% trans 'Reports'|title %}</li>
{% endblock %}

{% block javascript %}
{{block.super }}

{% endblock %}
