{% extends "base.html" %}
{% load i18n %}

{% block title %}Winda Database Admin{% endblock title %}

{% block content %}
    <div>
        <h2 class="text-center">{% trans 'Training Providers' %}</h2>
        <p>
            <a href="{% url 'database_admin:training_provider_create' %}" class="btn btn-default">{% trans 'create new training provider'|capfirst %}</a>
        </p>
        <table id="training_provider" class="display responsive nowrap dataTable no-footer dtr-inline">
            <thead><tr>
                {% for title in form.FIELDS.values %}
                    <th>{{ title|title }}</th>
                {% endfor %}
            </tr></thead>
            <tbody></tbody>
        </table>
    </div>

{% endblock content %}

{% block breadcrumb %}
    {{ block.super }}
    <li>{% trans 'training providers'|title %}</li>
{% endblock %}
