{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Winda Database Admin{% endblock title %}

{% block content %}
    <h2 class="text-center">{{ object.name|title }}</h2>

    <ul class="list-menu-home">
        <li>
            <a href="{% url 'training_provider:company_profile' object.pk %}">
               <figure>
                    <div class="icon-wrapper"><span class="icon icon-ic_titles_view_profile"></span></div>
                    <figcaption>
                        <h4>{% trans 'View Profile'|title %}</h4>
                        <small>{% trans 'View training provider profile' %}</small>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="{% url 'database_admin:training_provider_update' object.pk %}">
               <figure>
                    <div class="icon-wrapper"><span class="icon icon-ic_titles_edit_profile"></span></div>
                    <figcaption>
                        <h4>{% trans 'Edit Profile'|title %}</h4>
                        <small>{% trans 'Edit training provider profile' %}</small>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="#">
               <figure>
                    <div class="icon-wrapper"><span class="icon icon-ic_titles_users"></span></div>
                    <figcaption>
                        <h4>{% trans 'Users'|title %}</h4>
                        <small>{% trans 'Manage training provider users' %}</small>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="{% url 'training_provider:uploads' pk=object.pk %}">
               <figure>
                    <div class="icon-wrapper"><span class="icon icon-ic_titles_uploads"></span></div>
                    <figcaption>
                        <h4>{% trans 'Uploads'|title %}</h4>
                        <small>{% trans 'Manage uploads' %}</small>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="{% url 'database_admin:training_provider_accreditations' parent_pk=object.pk%}">
               <figure>
                    <div class="icon-wrapper"><span class="icon icon-ic_titles_accreditations"></span></div>
                    <figcaption>
                        <h4>{% trans 'Accreditations'|title %}</h4>
                        <small>{% trans 'Manage course accreditations' %}</small>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="{% url 'database_admin:training_provider_certifications' parent_pk=object.pk%}">
               <figure>
                    <div class="icon-wrapper"><span class="icon icon-ic_titles_certifications"></span></div>
                    <figcaption>
                        <h4>{% trans 'Certifications'|title %}</h4>
                        <small>{% trans 'Manage certificates' %}</small>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="{% url 'orders' object.pk %}">
               <figure>
                    <div class="icon-wrapper"><span class="icon icon-ic_titles_orders"></span></div>
                    <figcaption>
                        <h4>{% trans 'Orders'|title %}</h4>
                        <small>{% trans 'View orders' %}</small>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="{% url 'transactions' object.pk %}">
               <figure>
                    <div class="icon-wrapper">
                        <span class="icon icon-ic_titles_transactions"></span>
                    </div>
                    <figcaption>
                        <h4>{% trans 'Transactions'|title %}</h4>
                        <small>{% trans 'View transactions' %}</small>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="{% url 'database_admin:training_provider_award_credits' pk=object.pk %}">
               <figure>
                    <div class="icon-wrapper"><span class="icon icon-ic_titles_credits"></span></div>
                    <figcaption>
                        <h4>{% trans 'Award Credits'|title %}</h4>
                        <small>{% trans 'Add/subtract credits' %}</small>
                    </figcaption>
                </figure>
            </a>
        </li>
    </ul>
{% endblock content %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'database_admin:training_providers' %}">{% trans 'training providers'|title %}</a></li>
    <li>{{ object.name|title }}</li>
{% endblock %}
