{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}Winda Database Admin{% endblock title %}

{% block content %}
<div class="wrapper-form">
    <h2 class="text-center">{% if object %}
        {% trans 'manage training provider'|title %}{% else %}
        {% trans 'new training provider'|title %}{% endif %}
    </h2>
    {% if object %}
        <p><a href="{% url 'database_admin:training_provider_history' object.pk %}" class="btn btn-default">{% trans 'View change history' %}</a></p>
    {% endif %}

    <form method="POST" action="#" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            <div class="form-group row">
                <label class="col-sm-3 control-label text-right" for="{{ form.name.id_for_label }}">{{ form.name.label|capfirst }}</label>
                <div class="col-sm-9">
                    {% render_field form.name class='form-control' placeholder=form.name.label|capfirst %}
                    <div class="errors">{{ form.name.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label text-right" for="{{ form.address_1.id_for_label }}">{{ form.address_1.label|capfirst }}</label>
                <div class="col-sm-9">
                    {% render_field form.address_1 class='form-control' placeholder=form.address_1.label|capfirst %}
                    <div class="errors">{{ form.address_1.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label text-right" for="{{ form.address_2.id_for_label }}">{{ form.address_2.label|capfirst }}</label>
                <div class="col-sm-9">
                    {% render_field form.address_2 class='form-control' placeholder=form.address_2.label|capfirst %}
                    <div class="errors">{{ form.address_2.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label text-right" for="{{ form.city.id_for_label }}">{{ form.city.label|capfirst }}</label>
                <div class="col-sm-9">
                    {% render_field form.city class='form-control' placeholder=form.city.label|capfirst %}
                    <div class="errors">{{ form.city.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label text-right" for="{{ form.postal_code.id_for_label }}">{{ form.postal_code.label|capfirst }}</label>
                <div class="col-sm-9">
                    {% render_field form.postal_code class='form-control' placeholder=form.postal_code.label|capfirst %}
                    <div class="errors">{{ form.postal_code.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label text-right" for="{{ form.country.id_for_label }}">{{ form.country.label|capfirst }}</label>
                <div class="col-sm-9">
                    {% render_field form.country class='form-control' placeholder=form.country.label|capfirst %}
                    <div class="errors">{{ form.country.errors }}</div>
                </div>
            </div>

            {% if not object or object.accepted_at %}
                <div class="form-group row">
                    <label class="col-sm-3 col-xs-4 control-label text-right" for="{{ form.is_active.id_for_label }}">{{ form.is_active.label|capfirst }}</label>
                    <div class="col-sm-9 col-xs-8">
                        <div class="checkbox">
                            <label>{{ form.is_active }} <span class="check"></span></label>
                        </div>
                        <div class="errors">{{ form.is_active.errors }}</div>
                    </div>
                </div>
            {% endif %}
        </fieldset>
        <div class="text-center">
            {% if object and not object.accepted_at %}
                <button type="submit" class="btn btn-primary btn-lg text-uppercase" name="accept">{% trans "accept"|capfirst %}</button>
                <button type="submit" class="btn btn-primary btn-lg text-uppercase" name="reject">{% trans "reject"|capfirst %}</button>
            {% endif %}
            <button type="submit" class="btn btn-primary btn-lg text-uppercase">{% if object %}{% trans "update training provider"|capfirst %}{% else %}{% trans "create training provider"|capfirst %}{% endif %}</button>
        </div>
        </form>
</div>
{% endblock content %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'database_admin:training_providers' %}">{% trans 'training providers'|title %}</a></li>
    {% if object %}
        <li><a href="{% url 'database_admin:training_provider_detail' object.pk %}">{{ object.name|title }}</a></li>
        <li>{% trans 'edit training provider'|title %}</li>
    {% else %}
        <li>{% trans 'new training provider'|title %}</li>
    {% endif %}
{% endblock %}
