{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% blocktrans %}Winda Database Admin - Users{% endblocktrans %}{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    <li>{% trans 'Users' %}</li>
{% endblock %}

{% block content %}
    <h2 class="text-center">{% trans 'Users' %}</h2>
    <div class="text-right">
        <form id="search-database-admin-users" class="form-inline" action="#">
            <div class="form-group">
                <input class="form-control" placeholder="Search" type="text" />
            </div>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
    <table cellspacing="0" width="100%" id="database_admin_users" class="display responsive nowrap dataTable no-footer dtr-inline">
        <thead><tr>
            {% for title in form.FIELDS.values %}
                <th>{{ title }}</th>
            {% endfor %}
        </tr></thead>
        <tbody></tbody>
    </table>
{% endblock content %}

