{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% blocktrans %}Winda Database Admin - Change History{% endblocktrans %}{% endblock title %}

{% block breadcrumb %}
    {{block.super}}
    <li><a href="{% url 'database_admin:users' %}">{% trans 'Users' %}</a></li>
    <li><a href="{% url 'database_admin:user_detail' object.pk %}">{{ object.get_full_name }}</a></li>
    <li>{% trans 'Change History' %}</li>
{% endblock %}

{% block content %}
    <h2 class="text-center">{% trans 'Change History' %}</h2>
    <table id="change_history" class="display responsive nowrap dataTable no-footer dtr-inline">
        <thead><tr>
            {% for title in form.FIELDS.values %}
                <th>{{ title }}</th>
            {% endfor %}
        </tr></thead>
        <tbody></tbody>
    </table>
{% endblock content %}
