{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load common %}

{% block content %}
<div class="wrapper-form">
    <h2 class="text-center">{% trans 'manage'|title %} {{ object.get_role_display|title }} {% trans 'user'|title %}</h2>

    <p><a href="{% url 'database_admin:user_change_history' object.pk %}" class="btn btn-default">{% trans 'View change history' %}</a> <a href="{% url 'database_admin:notification_history' object.pk %}" class="btn btn-default">{% trans 'View notification history' %}</a></p>

    <form method="POST" action="#" class="form-horizontal">
        {% csrf_token %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        <fieldset>
            <div class="form-group row">
                <div class="col-sm-3 control-label">{% trans 'User ID' %}</div>
                <div class="col-sm-9"><div class="form-control no-binput">{{ object.pk }}</div></div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3 control-label">{% trans 'role type'|title %}</div>
                <div class="col-sm-9">
                    {% if object.is_training_provider_user or object.is_training_provider_admin %}
                        {% render_field form.role class='form-control' placeholder=form.role.label|capfirst %}
                        <div class="errors">{{ form.role.errors }}</div>
                    {% else %}
                        <div class="form-control no-binput">{{ object.get_role_display|title }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3 control-label">{% trans 'last login'|title %}</div>
                <div class="col-sm-9"><div class="form-control no-binput">{{ object.last_login }}</div></div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3 control-label">{% trans 'archived at'|title %}</div>
                <div class="col-sm-9">
                    {% if object.archived_at %}
                        <div class="form-control no-binput">{{ object.archived_at }}</div>
                    {% else %}
                    <button type="submit" class="btn btn-primary archive-btn" name="archive">{% trans 'archive user'|title %}</button>
                    {% endif %}
                </div>
            </div>

            {% if not object.archived_at %}
                {% for field in form.visible_fields %}
                    {% if field.name in 'is_active can_upload can_use_credit can_buy_credit'|split %}
                        <div class="form-group row">
                            <label class="col-sm-3 col-xs-4 control-label" for="{{ field.id_for_label }}">{{ field.label|capfirst }}</label>
                            <div class="col-sm-9 col-xs-8">
                                <div class="checkbox">
                                    <label>{{ field }} <span class="check"></span></label>
                                </div>
                                <div class="errors">{{ field.errors }}</div>
                            </div>
                        </div>
                        {% if object.is_training_provider_user or object.is_training_provider_admin %}
                            {% if field.name == 'is_active' %}
                                <div class="form-group row">
                                    <div class="col-sm-3 control-label">{% trans 'training provider'|title %}</div>
                                    <div class="col-sm-9">
                                        <div class="form-control no-binput">
                                            <a href="{% url 'database_admin:training_provider_detail' object.training_provider.pk %}">
                                                {{ object.training_provider.name }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if field.name != 'role' %}
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" for="{{ field.id_for_label }}">{{ field.label|capfirst }}</label>
                            <div class="col-sm-9">
                                {% render_field field class='form-control' placeholder=field.label|capfirst %}
                                <div class="errors">{{ field.errors }}</div>
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if object.is_delegate %}
                <div class="form-group row">
                    <div class="col-sm-3 control-label">{% trans 'Winda ID' %}</div>
                    <div class="col-sm-9"><div class="form-control no-binput">{{ object.delegate_id }}</div></div>
                </div>
            {% endif %}
            {% if object.archived_at %}
                {% if object.is_organization %}
                    <div class="form-group row">
                        <div class="col-sm-3 control-label">{% trans 'organization name'|title %}</div>
                        <div class="col-sm-9"><div class="form-control no-binput">{{ object.organization_name }}</div></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3 control-label">{% trans 'Country' %}</div>
                        <div class="col-sm-9"><div class="form-control no-binput">{{ object.country.name }}</div></div>
                    </div>
                {% elif object.is_training_provider_user or object.is_training_provider_admin %}
                    <div class="form-group row">
                        <div class="col-sm-3 control-label">{% trans 'training provider'|title %}</div>
                        <div class="col-sm-9"><div class="form-control no-binput">{{ object.training_provider.name }}</div></div>
                    </div>
                {% endif %}
            {% endif %}
        </fieldset>
        {% if not object.archived_at %}
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg text-uppercase">{% trans "update user"|capfirst %}</button>
        </div>
        {% endif %}
    </form>
    {% if form.non_field_errors %}
       <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
    {% endif %}
</div>
{% endblock content %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'database_admin:users' %}">{% trans 'users'|title %}</a></li>
    <li>{{ object.get_full_name|title }}</li>
{% endblock %}
