{% load i18n %}
{% load widget_tweaks %}

<fieldset class="clone-item">
    <div class="tittle row">
        <h3 class="col-sm-9">{% trans 'certificate'|title %} <span class="count">{{ forloop.counter }}</span></h3>
        <a data-bind="click: $root.removenumberClone;" class="col-sm-3 text-right remove-clone" href="#">{% trans 'remove certificate'|capfirst %}</a>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label">{{ form.certificate_file.label|capfirst }}</label>
        <div class="col-sm-9">
            <label class="btn btn-primary btn-file">
                {% trans 'Browse' %}
                {% render_field form.certificate_file accept='application/pdf' data-max-file-size=max_file_size %}
            </label>
            <span class="file-name-wrapper"><span class="file-name"></span> <span type="button" class="close text-left">&times;</span></span>
            <p class="help-block"><strong class="text-orange">Important:</strong> {{ form.certificate_file.help_text }}</p>
            <div class="errors">{{ form.certificate_file.errors }}</div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" form="{{ form.certificate_number.id_for_label }}">{{ form.certificate_number.label|capfirst }}</label>
        <div class="col-sm-9">
            {% render_field form.certificate_number class='form-control' placeholder=form.certificate_number.label|capfirst %}
            <div class="errors">{{ form.certificate_number.errors }}</div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" form="{{ form.valid_from.id_for_label }}">{{ form.valid_from.label|capfirst }}</label>
        <div class="col-sm-9">
            <span class="input-group date" class="date-start">
                {% render_field form.valid_from class='form-control' placeholder=form.valid_from.label|capfirst %}
                <span style="" class="input-group-addon">
                    <span class="icon icon-btn_calendar"></span>
                </span>
            </span>
            <div class="errors">{{ form.valid_from.errors }}</div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" form="{{ form.valid_until.id_for_label }}">{{ form.valid_until.label|capfirst }}</label>
        <div class="col-sm-9">
            <span class="input-group date" class="date-end">
                {% render_field form.valid_until class='form-control' placeholder=form.valid_until.label|capfirst %}
                <span style="" class="input-group-addon">
                    <span class="icon icon-btn_calendar"></span>
                </span>
            </span>
            <div class="errors">{{ form.valid_until.errors }}</div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" form="{{ form.courses.id_for_label }}">{{ form.courses.label|capfirst }}</label>
        <div class="col-sm-9">
            {% for radio in form.courses %}
                <div class="checkbox">
                    <label>{{ radio.tag }} <span class="check"></span> {{ radio.choice_label }}</label>
                </div>
            {% endfor %}
            <div class="errors">{{ form.courses.errors }}</div>
        </div>
    </div>

    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
</fieldset>
