{% extends "admin/base.html" %}

{% load i18n %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block userlinks %}
    <a href="{% url 'send_email_notification' %}">{% trans 'Send Email Notification' %}</a> /
    <a href="{% url 'archive' %}">{% trans 'Archive' %}</a> /
    <a href="{% url 'generate_notifications' %}">{% trans 'Generate Notifications' %}</a> /
    {{ block.super }}
{% endblock %}
