{% load widget_tweaks %}

{{ form.non_field_errors }}
{% for field in form %}
    <div class="form-group row">
        <label class="col-sm-3 control-label" form="{{ field.id_for_label }}">{{ field.label|capfirst }}</label>
        <div class="col-sm-9">
            {% render_field field class='form-control' placeholder=field.label|capfirst %}
            <div class="errors">{{ field.errors }}</div>
        </div>
    </div>
{% endfor %}
