{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<ul class="list-menu-home">
    <li>
        <a href="{% url 'signup' %}">
           <figure>
                <div class="icon-wrapper"><span class="icon icon-ic_titles_registration"></span></div>
                <figcaption>
                    <h4>{% trans 'Register'|title %}</h4>
                    <small>{% trans 'Register in WINDA to have records of GWO certified training added to your profile, look up the current training status of individuals or add training records to Delegates.' %}</small>
                </figcaption>
            </figure>
        </a>
    </li>
    <li>
        <a href="{% url 'account_login' %}">
           <figure>
                <div class="icon-wrapper"><span class="icon icon-ic_titles_signin"></span></div>
                <figcaption>
                    <h4>{% trans 'Login'|title %}</h4>
                    <small>{% trans 'Login to WINDA if you have registered for a profile and completed the registration process.' %}</small>
                </figcaption>
            </figure>
        </a>
    </li>
    <li>
        <a href="{% url 'about' %}">
           <figure>
                <div class="icon-wrapper"><span class="icon icon-ic_titles_about"></span></div>
                <figcaption>
                    <h4>{% trans 'About'|title %}</h4>
                    <small>{% trans 'WINDA is a global database designed for verifying the training status of GWO certified individuals. Learn more about WINDA and read the Terms & Conditions, Privacy Policy and the Service Level Agreement.' %}</small>
                </figcaption>
            </figure>
        </a>
    </li>
</ul>
{% endblock content %}

{% block breadcrumb %}
{% endblock breadcrumb %}
