{% extends "trainings/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}
<div class="wrapper-form">
    <h2 class="text-center">{{provider.name}} - {% trans 'New Bulk Upload' %}</h2>
    {% if request.user.can_upload %}
    <div class="text-center">
    <p>{% static 'docs/Template CSV.csv' as template_csv %}
    {% static 'docs/Upload Instructions.xlsx' as upload_instructions %}
    {% blocktrans %}
    Upload a new set of training records in CSV format. Refer to the <a href="{{upload_instructions}}">upload instructions</a> and <a href="{{template_csv}}">download the template</a> provided.</p>
    <p>Maximum of 20000 training records per upload.</p>
    {% endblocktrans %}</div>
    <form method="post" action="#" class="single-upload form-horizontal" enctype='multipart/form-data'>
        {% csrf_token %}
        <fieldset>
            <div class="form-group row">
                <label class="col-sm-3 control-label" for="{{ form.upload_file.id_for_label }}">{{ form.upload_file.label|capfirst }}</label>
                <div class="col-sm-9">
                    <label class="btn btn-primary btn-file">
                        {% trans 'Browse' %}
                        {% render_field form.upload_file class='form-control' accept='.csv' placeholder=form.upload_file.label|capfirst %}
                    </label>
                    <span class="file-name-wrapper"><span class="file-name"></span> <span type="button" class="close text-left">&times;</span></span>
                    <div class="errors">{{ form.upload_file.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label" for="{{ form.description.id_for_label }}">{{ form.description.label|capfirst }}</label>
                <div class="col-sm-9">
                    {% render_field form.description class='form-control' placeholder=form.description.label|capfirst %}
                    <div class="errors">{{ form.description.errors }}</div>
                </div>
            </div>
            {% if request.user.is_database_admin %}
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <div class="checkbox">
                        <label>{% render_field form.invalidate_records class='form-control' placeholder=form.invalidate_records.label|capfirst %} <span class="check"></span> <strong>{{ form.invalidate_records.label|capfirst }}</strong></label>
                    </div>
                    <div class="errors">{{ form.invalidate_records.errors }}</div>
                </div>
            </div>
            {% endif %}
        </fieldset>
        <div class="text-center">
            <button id="bulk-upload" class="btn btn-primary btn-lg text-uppercase">{% trans 'Upload record' %}</button>
        </div>
    </form>
    <p class="text-center">
        {% trans 'Please wait up to 60 seconds for purchases to complete' %}
    </p>
</div>
    {% else %}
        <p class="alert alert-info">{% trans 'You are not permitted to create uploads. Ask your company administrator for assistance.' %}</p>
    {% endif %}
{% endblock %}


{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'training_provider:uploads' pk=provider.pk %}">{% trans 'Uploads' %}</a></li>
    <li>{% trans 'New Bulk Upload' %}</li>
{% endblock %}
