    {% extends "trainings/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - {% trans 'company profile' %}{% endblock title %}

{% block content %}
    <h2 class="text-center">{{ training_provider.name }}</h2>
<div class="row">
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>{% trans 'create balance'|title %}</dt>
                            <dd>{{ training_provider.current_credit_balance }}</dd>
                            <dt>{% trans 'draft upload'|title %}</dt>
                            <dd>{{ training_provider.draft_upload_count }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>{% trans 'name'|title %}</dt>
                            <dd>{{ training_provider.name }}</dd>
                            {% if training_provider.country %}
                                <dt>{% trans 'country'|title %}</dt>
                                <dd>{{ training_provider.country.name }}</dd>
                            {% endif %}
                            {% if training_provider.address_1 %}
                                <dt>{% trans 'street address line 1'|title %}</dt>
                                <dd>{{ training_provider.address_1 }}</dd>
                            {% endif %}
                            {% if training_provider.address_2 %}
                                <dt>{% trans 'street address line 2'|title %}</dt>
                                <dd>{{ training_provider.address_2 }}</dd>
                            {% endif %}
                            {% if training_provider.city %}
                                <dt>{% trans 'city'|title %}</dt>
                                <dd>{{ training_provider.city }}</dd>
                            {% endif %}
                            {% if training_provider.postal_code %}
                                <dt>{% trans 'postal code'|title %}</dt>
                                <dd>{{ training_provider.postal_code }}</dd>
                            {% endif %}
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">

        <div class="panel panel-default">
          <div class="panel-body">
            <h3>{% trans 'accredited provider of course'|title %}</h3>
            <table class="datatables-simple display responsive nowrap dataTable no-footer dtr-inline" cellspacing="0" width="100%">
                <thead><tr>
                    <th></th>
                    <th>{% trans 'code'|title  %}</th>
                    <th>{% trans 'course title'|title  %}</th>
                    <th>{% trans 'valid from'|title  %}</th>
                    <th>{% trans 'valid until'|title  %}</th>
                </tr></thead>
                <tbody>
                {% for course_provider in course_providers %}
                    <tr>
                    <td></td>
                    <td>{{ course_provider.course.code }}</td>
                    <td>{{ course_provider.course.title }}</td>
                    <td>{{ course_provider.valid_from }}</td>
                    <td>{{ course_provider.valid_until }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <h3>{% trans 'certificates'|title %}</h3>
            <table class="datatables-simple display responsive nowrap dataTable no-footer dtr-inline" cellspacing="0" width="100%">
                <thead><tr>
                    <th></th>
                    <th>{% trans 'certificate number'|title  %}</th>
                    <th>{% trans 'valid from'|title  %}</th>
                    <th>{% trans 'valid until'|title  %}</th>
                </tr></thead>
                <tbody>
                {% for certificate in certificates %}
                    <tr>
                    <td></td>
                    <td>{{ certificate.certificate_number }}</td>
                    <td>{{ certificate.valid_from }}</td>
                    <td>{{ certificate.valid_until }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block breadcrumb %}
    {{ block.super }}
    {% if request.user.is_database_admin %}
        <li><a href="{% url 'database_admin:training_providers' %}">{% trans 'training providers'|title %}</a></li>
        <li><a href="{% url 'database_admin:training_provider_detail' training_provider.pk %}">{{ training_provider.name|title }}</a></li>
    {% endif %}
    <li>{% trans 'company profile'|title %}</li>
{% endblock %}
