{% extends "trainings/base.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}Winda Training Provider{% endblocktrans %}{% endblock title %}

{% block content %}
<ul class="list-menu-home">
    <li>
        <a href="{% url 'training_provider:uploads' pk=user.training_provider.pk %}">
           <figure>
                <div class="icon-wrapper"><span class="icon icon-ic_titles_uploads"></span></div>
                <figcaption>
                    <h4>{% trans 'Uploads' %}</h4>
                    <small>{% trans 'View previously uploaded training records and upload new training records of Delegates who have completed a GWO Training Module.' %}</small>
                </figcaption>
            </figure>
        </a>
    </li>
    <li>
        <a href="{% url 'credit' user.pk %}">
           <figure>
                <div class="icon-wrapper"><span class="icon icon-ic_titles_credits"></span></div>
                <figcaption>
                    <h4>{% trans 'Credits' %}</h4>
                    <small>{% trans 'Purchase credits which you can use to upload records on Delegates. You can also view your orders and transactions.' %}</small>
                </figcaption>
            </figure>
        </a>
    </li>
    <li>
        <a href="{% url 'organization:search' %}">
           <figure>
                <div class="icon-wrapper"><span class="icon icon-ic_titles_search_training_record"></span></div>
                <figcaption>
                    <h4>{% trans 'Search Training Records' %}</h4>
                    <small>{% trans 'Search records of trained individuals to verify their current training status. You can search for up to 100 individuals at a time if they have provided you with their WINDA ID.' %}</small>
                </figcaption>
            </figure>
        </a>
    </li>
    <li>
        <a href="{% url 'training_provider:company_profile' object.pk %}">
           <figure>
                <div class="icon-wrapper"><span class="icon icon-ic_titles_view_profile"></span></div>
                <figcaption>
                    <h4>{% trans 'Company Profile' %}</h4>
                    <small>{% trans 'View your company profile and information registered in WINDA.' %}</small>
                </figcaption>
            </figure>
        </a>
    </li>
</ul>
{% endblock content %}

{% block breadcrumb %}{% endblock %}
