{% extends "trainings/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}
<div class="wrapper-form">
    <h2 class="text-center">{{provider.name}} - {% trans 'New Single Upload' %}</h2>
    {% if request.user.can_upload %}
    <p class="text-center">{% trans 'Upload a new training record for a delegate.' %}</p>
    <form method="post" action="#" class="single-upload form-horizontal">
        {% csrf_token %}
        <fieldset>
            <div class="form-group row">
                <label class="col-sm-3 control-label" for="{{ form.delegate_id.id_for_label }}">{{ form.delegate_id.label|capfirst }}</label>
                <div class="col-sm-9">
                    {% render_field form.delegate_id class='form-control' placeholder=form.delegate_id.label|capfirst %}
                    <div class="errors">{{ form.delegate_id.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label" for="{{ form.course.id_for_label }}">{{ form.course.label|capfirst }}</label>
                <div class="col-sm-9">
                    {% render_field form.course class='form-control' placeholder=form.course.label|capfirst %}
                    <div class="errors">{{ form.course.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label" for="{{ form.course_completion_date.id_for_label }}">{{ form.course_completion_date.label|capfirst }}</label>
                <div class="col-sm-9">
                    <span class="input-group date" class="date-start">
                        {% render_field form.course_completion_date class='form-control' placeholder=form.course_completion_date.label|capfirst %}
                        <span style="" class="input-group-addon">
                            <span class="icon icon-btn_calendar"></span>
                        </span>
                    </span>
                    <div class="errors">{{ form.course_completion_date.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label" for="{{ form.previous_course_valid_until.id_for_label }}">{{ form.previous_course_valid_until.label|capfirst }}</label>
                <div class="col-sm-9">
                    <span class="input-group date" class="date-end">
                        {% render_field form.previous_course_valid_until class='form-control' placeholder=form.previous_course_valid_until.label|capfirst %}
                        <span style="" class="input-group-addon">
                            <span class="icon icon-btn_calendar"></span>
                        </span>
                    </span>
                    <div class="errors">{{ form.previous_course_valid_until.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label" for="{{ form.description.id_for_label }}">{{ form.description.label|capfirst }}</label>
                <div class="col-sm-9">
                    {% render_field form.description class='form-control' placeholder=form.description.label|capfirst %}
                    <div class="errors">{{ form.description.errors }}</div>
                </div>
            </div>
            {% if request.user.is_database_admin %}
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <div class="checkbox">
                        <label>{% render_field form.invalidate_records class='form-control' placeholder=form.invalidate_records.label|capfirst %} <span class="check"></span> <strong>{{ form.invalidate_records.label|capfirst }}</strong></label>
                    </div>
                    <div class="errors">{{ form.invalidate_records.errors }}</div>
                </div>
            </div>
            {% endif %}
        </fieldset>
        <div class="text-center">
            <button id="single-upload" class="btn btn-primary btn-lg text-uppercase">{% trans 'Upload record' %}</button>
        </div>
    </form>
    <p class="text-center">
        {% trans 'Please wait up to 60 seconds for purchases to complete' %}
    </p>
    {% else %}
        <p class="alert alert-info">{% trans 'You are not permitted to create uploads. Ask your company administrator for assistance.' %}</p>
    {% endif %}
</div>
{% endblock %}


{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'training_provider:uploads' pk=provider.pk %}">{% trans 'Uploads' %}</a></li>
    <li>{% trans 'New Single Upload' %}</li>
{% endblock %}
