{% extends "trainings/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <h2 class="text-center">{{provider.name}} - {% trans 'Uploads' %}</h2>
    <p>{% trans 'View all uploads and their status in the overview below. To view the details of the records, click on the description of the relevant upload. To perform a new upload to WINDA, you can choose to either upload up to 100 records at once by clicking “New Bulk Upload” or you can upload single records by clicking “New Single Upload”.' %}</p>
    <p>
        <a href="{% url 'training_provider:bulk-upload' pk=provider.pk %}" class="btn btn-default">{% trans 'New bulk upload' %}</a>
        <a href="{% url 'training_provider:single-upload' pk=provider.pk %}" class="btn btn-default">{% trans 'New single upload' %}</a>
    </p>
    <table id="upload_batch_list" class="display responsive nowrap dataTable no-footer dtr-inline">
        <thead><tr>
            {% for title in form.FIELDS.values %}
                <th>{{ title|title }}</th>
            {% endfor %}
        </tr></thead>
        <tbody></tbody>
    </table>
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% if user.is_database_admin %}
        <li><a href="{% url 'database_admin:training_providers' %}">{% trans 'training providers'|title %}</a></li>
        <li><a href="{% url 'database_admin:training_provider_detail' provider.pk %}">{{ provider.name|title }}</a></li>
    {% endif %}
    <li>{% trans 'Uploads' %}</li>
{% endblock %}
