{% extends "trainings/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<div class="wrapper-form">
    <h2 class="text-center">{{ user.training_provider.name }} - {% if object %}
        {% trans 'manage user'|title %}{% else %}
        {% trans 'create user'|title %}{% endif %}
    </h2>

    <form method="POST" action="#" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            <div class="form-group row">
                <label class="col-sm-3 control-label text-right" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label|capfirst }}</label>
                <div class="col-sm-9">
                    {% render_field form.first_name class='form-control' placeholder=form.first_name.label|capfirst %}
                    <div class="errors">{{ form.first_name.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label text-right" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label|capfirst }}</label>
                <div class="col-sm-9">
                    {% render_field form.last_name class='form-control' placeholder=form.last_name.label|capfirst %}
                    <div class="errors">{{ form.last_name.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label text-right" for="{{ form.email.id_for_label }}">{{ form.email.label|capfirst }}</label>
                <div class="col-sm-9">
                    {% render_field form.email class='form-control' placeholder=form.email.label|capfirst %}
                    <div class="errors">{{ form.email.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label text-right" for="{{ form.role.id_for_label }}">{{ form.role.label|capfirst }}</label>
                <div class="col-sm-9">
                    {% render_field form.role class='form-control' placeholder=form.role.label|capfirst %}
                    <div class="errors">{{ form.role.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label text-right" for="{{ form.timezone.id_for_label }}">{{ form.timezone.label|capfirst }}</label>
                <div class="col-sm-9">
                    {% render_field form.timezone class='form-control' placeholder=form.timezone.label|capfirst %}
                    <div class="errors">{{ form.timezone.errors }}</div>
                </div>
            </div>
            {% if object %}
            <div class="form-group row">
                <label class="col-sm-3 col-xs-4 control-label text-right" for="{{ form.is_active.id_for_label }}">{{ form.is_active.label|capfirst }}</label>
                <div class="col-sm-9 col-xs-8">
                    <div class="checkbox">
                        <label>{{ form.is_active }} <span class="check"></span></label>
                    </div>
                    <div class="errors">{{ form.is_active.errors }}</div>
                </div>
            </div>
            {% endif %}
            <div class="form-group row">
                <label class="col-sm-3 col-xs-4 control-label text-right" for="{{ form.can_upload.id_for_label }}">{{ form.can_upload.label|capfirst }}</label>
                <div class="col-sm-9 col-xs-8">
                    <div class="checkbox">
                        <label>{{ form.can_upload }} <span class="check"></span></label>
                    </div>
                    <div class="errors">{{ form.can_upload.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-xs-4 control-label text-right" for="{{ form.can_use_credit.id_for_label }}">{{ form.can_use_credit.label|capfirst }}</label>
                <div class="col-sm-9 col-xs-8">
                    <div class="checkbox">
                        <label>{{ form.can_use_credit }} <span class="check"></span></label>
                    </div>
                    <div class="errors">{{ form.can_use_credit.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-xs-4 control-label text-right" for="{{ form.can_buy_credit.id_for_label }}">{{ form.can_buy_credit.label|capfirst }}</label>
                <div class="col-sm-9 col-xs-8">
                    <div class="checkbox">
                        <label>{{ form.can_buy_credit }} <span class="check"></span></label>
                    </div>
                    <div class="errors">{{ form.can_buy_credit.errors }}</div>
                </div>
            </div>
        </fieldset>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg text-uppercase">{% if object %}{% trans "update training provider"|capfirst %}{% else %}{% trans "create training provider"|capfirst %}{% endif %}</button>
        </div>
    </form>
</div>
{% endblock content %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'training_provider:users' user.pk %}">{% trans 'users'|title %}</a></li>
    <li>{% if object %}{{ object.get_full_name|title }}{% else %}{% trans 'new user'|title %}{% endif %}</li>
{% endblock %}
