{% extends "trainings/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - {% trans 'users'|title %}{% endblock title %}

{% block content %}
    <div class="row">
        <h2 class="text-center">{{ user.training_provider.name }} - {% trans 'Users' %}</h2>
        <p>
            <a href="{% url 'training_provider:user_create' user.pk %}" class="btn btn-default">{% trans 'create new user'|capfirst %}</a>
        </p>

        <table id="training_provider_user" class="display responsive nowrap dataTable no-footer dtr-inline">
            <thead><tr>
                {% for title in form.FIELDS.values %}
                    <th>{{ title|title }}</th>
                {% endfor %}
            </tr></thead>
            <tbody></tbody>
        </table>
    </div>
{% endblock content %}

{% block breadcrumb %}
    {{ block.super }}
    <li>{% trans 'users'|title %}</li>
{% endblock %}
