{% extends "trainings/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}
<div class="wrapper-form">
    <h2 class="text-center">{{provider.name}} - {% trans 'Upload #' %}{{object.id}}</h2>
    <p class="text-center">{% trans 'See details of this credit transaction below' %}</p>
    <p class="text-center">
        <a href="{% url 'training_provider:download-errors' pk=provider.pk batch_pk=object.pk %}" class="text-center">{% trans 'Download file with error details' %}</a>
    </p>

    <div class="panel panel-default">
        <div class="panel-body">
            <dl class="dl-horizontal dl-center">
                <dt>{% trans 'Description' %}</dt>
                  <dd>{{object.description}}</dd>
                <dt>{% trans 'Status' %}</dt>
                  <dd>{{object.get_status_display}}</dd>
                <dt>{% trans 'Total Records' %}</dt>
                  <dd>{{object.total_records}}</dd>
                <dt>{% trans 'Valid Records' %}</dt>
                  <dd>{{object.valid_records}}</dd>
                <dt>{% trans 'Duplicate Records' %}</dt>
                  <dd>{{object.duplicate_records}}</dd>
                <dt>{% trans 'Error Records' %}</dt>
                  <dd>{{object.error_records}}</dd>
                <dt>{% trans 'Uploaded At' %}</dt>
                  <dd>{{object.created}}</dd>
                <dt>{% trans 'Uploaded By' %}</dt>
                  <dd>{{object.created_by.get_full_name}}</dd>
            </dl>
        </div>
    </div>
    {% if object.is_draft %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
        {% endif %}
    <div class="text-center">
        <form class='purchase' action="" method="post">
            <button id="discard" class="btn btn-primary btn-lg text-uppercase" data-status="discarded">{% trans 'Discard' %}</button>
            <button id="purchase" class="btn btn-primary btn-lg text-uppercase" data-status="purchased">{% trans 'Purchase' %}</button>
            {% csrf_token %}
            <input type="hidden" name="status" value="purchased" />
        </form>
    </div>
    <p class="row text-center">
        {% trans 'Please wait up to 60 seconds for purchases to complete' %}
    </p>
    {% endif %}
</div>
{% endblock %}


{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'training_provider:uploads' pk=provider.pk %}">{% trans 'Uploads' %}</a></li>
    <li>{% trans 'Upload #' %}{{object.id}}</li>
{% endblock %}
