.flat-wrapper {
    margin: 0 auto 0;
    max-width: 766px;
    width: 100%;

    p , li {
        color: #999;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 30px;
    }

    ul {
        margin-bottom: 30px;
        padding-left: 60px;
        li {
            margin-bottom: 1px;
        }
    }

    blockquote {
        p {
            margin-bottom: 10px;
            color: #333;
            font-size: 16px;
            font-weight: 600;
        }
        ol:last-child, p:last-child, ul:last-child {
            margin-bottom: 0;
        }
    }

    h1 {
        color: #333;
        font-size: 38px;
        font-weight: 600;
        margin: 30px 0;
    }
    h2,h3,h4,h5,h6 {margin: 30px 0;}
    .img-responsive {
        width: 100%;
    }

    > .btn {
        margin-bottom: 5px;
    }

    > .row {
        margin: 30px 0;
    }
}
