.list-menu-home {
    margin: 0 auto;
    text-align: center;
    padding: 0;

    .icon-wrapper {
        width: 170px;
        height: 170px;
        border: 3px solid #666;
        border-radius: 50%;

        .icon {
            font-size: 115px;
            vertical-align: middle;
            margin-top: -34px;
            transform: translateY(50%);
        }
    }

    li {
        list-style: none;
        text-align: center;
        display: inline-block;
        margin: 10px 65px;
        vertical-align: top;
        width: 170px;

        a {
            color: #666;
            text-decoration: none;
            
            &:hover {
                color: #333;

                .icon-wrapper {
                    border-color: @color-orange;
                    color: @color-orange;
                }
            }
        }

        h4 {
            font-size: 24px;
            font-weight: 600;
            margin: 20px 0 8px;
            width: 104%;
        }
        small {
            font-size: 12px;
            padding: 0 5px;
            line-height: 15px;
            display: block
        }
    }
}

.list-menu-home-wrapper {
    margin: 0 auto;
    padding: 20px;
    position: relative;
    width: 300px;
    li{
        margin: 0;
        .icon-wrapper {
            margin: 0 auto;
        }
        h4 {
            font-size: 24px;
            font-weight: 600;
            margin: 20px auto 30px;
            width: 76%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        small {
            padding: 0;
        }
    }
}

.lSAction {
    > a {
        background-color: #003e6a;
        border-radius: 50%;
        opacity: 1;
        top: 205px;
        height: 26px;
        width: 26px;
    }
    > .lSNext {
        background-position: -36px -3px;
        right: 0;
    }
    > .lSPrev {
        background-position: -1px -3px;
        left: 0;
    }
}
.lSSlideOuter .lSPager.lSpg {
    position: absolute;
    top: 235px;
    left: 50%;
    line-height: 1;
    width: 100%;
    transform: translate(-50%) !important;
    > li {
        a {
            width: 30px;
            height: 2px;
            vertical-align: middle;
            background-color: #999;
        }
        &.active a {
            border-radius: 0;
            height: 4px;
            background-color: #ed7800;
        }
        &:hover a {
            background-color: #ed7800;
        }
    }
}
