.accordion {
    margin-bottom: 10px;
    .form-inline {
        margin-top: 15px;
        label {
            display: block;
        }
        .form-group {
            margin-right: 25px;
            vertical-align: top;
            min-width: 190px;
            &.btn-right {
                vertical-align: bottom;
            }
        }
        select {
            min-width: 200px;
            width: 100%;
        }
    }
    .input-group.date .input-group-addon {
        background: 0 0;
        border: none;
    }
    .panel-heading [data-toggle="collapse"] {
        &:before {
            font-family: 'Glyphicons Halflings';
            content: "\e113";
            color: #fff;
            font-size: 11px;
            background-color: @color-orange;
            text-align: center;
            border-radius: 50%;
            display: inline-block;
            line-height: 24px;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 23px;
            left: -44px;
        }
        &.collapsed:before {
            content: "\e114";
            background-color: @color-blue;
            line-height: 25px;
        }
    }
    .panel-default {
        border-radius: 0;
        box-shadow: none;
        border: none;
        .panel-heading {
            background: none;
            padding: 0;
            a {
                margin-left: 60px;
                text-decoration: none;
                position: relative;
                font-size: 24px;
                display: block;
                font-weight: 600;
                padding: 20px 0 12px;
            }
        }
        .panel-collapse .panel-body {
            border: none;
            padding: 0 0 20px 60px;
            p {
                color: #666;
                font-size: 12px;
                font-weight: 700;
            }
        }
        & + .panel-default {
            a {
                border-top: 1px solid #ddd;
            }
        }
    }
}


@media (min-width: 768px) {
    .accordion {
        .form-inline {
            .form-group {
                min-width: 190px;
                max-width: 190px;
                &.btn-right {
                    text-align: right;
                    margin-right: 0;
                    min-width: 250px;
                }
                .errorlist {
                    position: absolute;
                }
            }
            select {
                max-width: 200px;
            }
        }
    }
}
