{% extends "trainings/base.html" %}
{% load i18n %}

{% block title %}Winda Training Provider{% endblock title %}

{% block content %}
<h2 class="text-center">{{ user.training_provider.name }} - {% trans 'Credits' %}</h2>
<ul class="list-menu-home">
    <li>
        <a href="{% url 'purchase_credit' user.training_provider.pk %}">
           <figure>
                <div class="icon-wrapper"><span class="icon icon-ic_titles_purchase"></span></div>
                <figcaption>
                    <h4>{% trans 'Purchase Credits' %}</h4>
                    <small>{% trans 'In order to upload training records to WINDA, you will need to have credits added to your profile. Uploading one record costs 1 credit. You can purchase credits by using a credit card.' %}</small>
                </figcaption>
            </figure>
        </a>
    </li>
    <li>
        <a href="{% url 'orders' user.training_provider.pk %}">
           <figure>
                <div class="icon-wrapper"><span class="icon icon-ic_titles_orders"></span></div>
                <figcaption>
                    <h4>{% trans 'Orders' %}</h4>
                    <small>{% trans 'View orders and full order details for your company.' %}</small>
                </figcaption>
            </figure>
        </a>
    </li>
    <li>
        <a href="{% url 'transactions' user.training_provider.pk %}">
           <figure>
                <div class="icon-wrapper"><span class="icon icon-ic_titles_transactions"></span></div>
                <figcaption>
                    <h4>{% trans 'Transactions' %}</h4>
                    <small>{% trans 'View a full list of transactions and transaction details for your company.' %}</small>
                </figcaption>
            </figure>
        </a>
    </li>
</ul>
{% endblock content %}

{% block breadcrumb %}
    {{ block.super }}
    <li>{% trans 'Credits' %}</li>
{% endblock %}
