{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Winda Training Provider Order' %} #{{ object.order_id }}{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    {% if user.is_database_admin %}
        <li><a href="{% url 'database_admin:training_providers' %}">{% trans 'training providers'|title %}</a></li>
        <li><a href="{% url 'database_admin:training_provider_detail' training_provider.pk %}">{{ training_provider.name|title }}</a></li>
    {% else %}
        <li><a href="{% url 'credit' training_provider_id %}">{% trans 'Credits' %}</a></li>
    {% endif %}
    <li><a href="{% url 'orders' training_provider_id %}">{% trans 'Orders' %}</a></li>
    <li>{% trans 'Order' %} #{{ object.order_id }}</li>
{% endblock %}

{% block content %}
    <div class="wrapper-form print">
        <h2 class="text-center">{{ training_provider.name }} - {% trans 'Order' %} #{{ object.order_id }}</h2>
        {% if order.payment_success %}
            <p>{% trans 'Your order details are listed below. Click on the “Print” option to print the order details. Click on the “Email” option to send the details to an email address of your choice.' %}</p>
        {% else %}
            <p>{% trans 'Your order details are listed below. Please be aware that your order has not been paid and you have therefore not received any credits to your account. Click the link in the “Order Status” to pay for this order now and add credits to your account.' %}</p>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-body">
                {% if order.payment_success %}
                <div class="top-right-position no-print">
                    <div><a href="javascript:window.print()">{% trans 'Print' %}</a></div>
                    <div><a href="{% url 'order_email' training_provider_id object.pk %}">{% trans 'Email' %}</a></div>
                </div>
                {% endif %}
                <dl class="dl-horizontal dl-center">
                    <dt>{% trans 'order number'|title %}</dt>
                      <dd>{{ object.order_id }}</dd>
                    <dt>{% trans 'order status'|title %}</dt>
                      <dd>{{ object.get_payment_success_display }}
                {% if not user.is_database_admin %}
                {% if not order.payment_success %} - <a href="{% url 'order_link' training_provider_id object.pk %}">{% trans 'Pay for this order now' %}</a>{% endif %}</dd>
                {% endif %}
                    <dt>{% trans 'created at'|title %}</dt>
                      <dd>{{ object.created }}</dd>
                    <dt>{% trans 'created by'|title %}</dt>
                      <dd>{{ object.created_by.get_full_name }}</dd>
                    {% if order.payment_success %}
                    <dt>{% trans 'paid at'|title %}</dt>
                      <dd>{{ object.paid_at }}</dd>
                    {% endif %}
                </dl>
            </div>
        </div>
    </div>
    <div class="order-detail-wrapper">
        <table id="order_detail" class="no-ordering print display responsive nowrap dataTable no-footer dtr-inline" cellspacing="0" width="100%">
            <thead><tr>
                <th></th>
                <th>{% trans 'Item' %}</th>
                <th>{% trans 'Description' %}</th>
                <th>{% trans 'Quantity' %}</th>
                <th>{% trans 'Credits' %}</th>
                <th>{% trans 'Unit Price' %}</th>
                <th>{% trans 'Extended Price' %}</th>
                <th>{% trans 'VAT Rate' %}</th>
                <th>{% trans 'VAT Included' %}</th>
            </tr></thead>
            <tbody><tr>
                <td></td>
                <td>{{ object.item_name }}</td>
                <td>{{ object.item_description }}</td>
                <td>{{ object.quantity }}</td>
                <td>{{ object.total_credits }}</td>
                <td>{{ object.get_currency_display }} {{ object.get_item_unit_price_including_vat_display }}</td>
                <td>{{ object.get_currency_display }} {{ object.get_total_price_including_vat_display|floatformat:'2' }}</td>
                <td>{{ object.get_item_vat_rate_display|floatformat:'0' }}%</td>
                <td>{{ object.get_currency_display }} {{ object.get_vat_included_display|floatformat:'2' }}</td>
            </tr>
            <tr class="total-tr hidden-xs hidden-sm">
                <td></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>{% trans 'TOTAL' %}</td>
                <td>{{ object.get_currency_display }} {{ object.get_total_price_including_vat_display|floatformat:'2' }}</td>
                <td>&nbsp;</td>
                <td>{{ object.get_currency_display }} {{ object.get_vat_included_display|floatformat:'2' }}</td>
            </tr></tbody>
        </table>

        <ul class="total-ul visible-xs visible-sm">
            <li>
                <span class="dtr-title">{% trans 'TOTAL' %}</span>
            </li>
            <li>
                <span class="dtr-title">{% trans 'Extended Price' %}</span> 
                <span class="dtr-data">{{ object.get_currency_display }} {{ object.get_total_price_including_vat_display|floatformat:'2' }}</span>
            </li>
            <li>
                <span class="dtr-title">{% trans 'VAT Included' %}</span>
                <span class="dtr-data">{{ object.get_currency_display }} {{ object.get_vat_included_display|floatformat:'2' }}</span>
            </li>
        </ul>
    </div>
{% endblock content %}
