{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Winda Training Provider Orders' %}{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    {% if user.is_database_admin %}
        <li><a href="{% url 'database_admin:training_providers' %}">{% trans 'training providers'|title %}</a></li>
        <li><a href="{% url 'database_admin:training_provider_detail' training_provider.pk %}">{{ training_provider.name|title }}</a></li>
    {% else %}
        <li><a href="{% url 'credit' training_provider_id %}">{% trans 'Credits' %}</a></li>
    {% endif %}
    <li>{% trans 'Orders' %}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <h2 class="text-center">{{ training_provider.name }} - {% trans 'Orders' %}</h2>
        <h4 class="text-center">{% trans 'Current Credit Balance' %} {{ training_provider.current_credit_balance }}</h4>

        <div></div>
        <table id="orders" class="display responsive nowrap dataTable no-footer dtr-inline">
            <thead><tr>
                {% for title in form.FIELDS.values %}
                    <th>{{ title|title }}</th>
                {% endfor %}
            </tr></thead>
            <tbody></tbody>
        </table>
    </div>
{% endblock content %}
