{% extends "trainings/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}Winda Training Provider{% endblock title %}

{% block content %}
    <div class="wrapper-form">
    {% if user.can_buy_credit %}
        {% if form %}
            <h2 class="text-center">{% trans 'Current Credit Balance' %} {{ user.training_provider.current_credit_balance }}</h2>
            <p>{% trans 'Choose which item and the quantity you want to purchase from the list below. When you click confirm, you will be able to review your order before you purchase it.' %}</p>
        {% else %}
            <p>{% trans 'Please review your purchase order below. Click on the “Back” button if you wish to make changes to your order. If you are satisfied, click “Purchase credits” to add credits to your account. Your credit card will be charged for the amount listed in “Total Price”. Local credit card charges may apply – consult your credit card company for full details. Please note that all sales are final and Global Wind Organisation does not offer refunds for purchased credits for any reason.' %}</p>
        {% endif %}
        <form class="login form-horizontal" method="POST" action="">
            <fieldset>
                {% csrf_token %}
                <div class="form-group row">
                    <label class="col-sm-3 control-label" for="{{ form.item.id_for_label }}">{% trans 'Item' %}</label>
                    <div class="col-sm-9">
                        {% if form %}
                            {% render_field form.item class='form-control order-item' placeholder=form.item.label|capfirst %}
                            <div class="errors">{{ form.item.errors }}</div>
                        {% else %}
                            <div class="form-control no-binput">
                            {{ item.item_name }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 control-label">{% trans 'Description' %}</label>
                    <div class="col-sm-9">
                        <div class="form-control no-binput order-description">
                        {% if form %}
                            {{ form.initial.item.item_description }}
                        {% else %}
                            {{ item.item_description }}
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 control-label" for="{{ form.quantity.id_for_label }}">{% trans 'quantity'|title %}</label>
                    <div class="col-sm-9">
                        {% if form %}
                            {% render_field form.quantity class='form-control order-quantity' placeholder=form.quantity.label|capfirst %}
                            <div class="errors">{{ form.quantity.errors }}</div>
                        {% else %}
                        <div class="form-control no-binput">
                            {{ quantity }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 control-label">{% trans 'Credits' %}</label>
                    <div class="col-sm-9">
                        <div class="form-control no-binput order-credit">
                            {{ total_credits }}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 control-label">{% trans 'VAT Rate' %}</label>
                    <div class="col-sm-9">
                        <div class="form-control no-binput">
                            <span class="order-vat-rate">{{ price.get_vat_rate_display|floatformat:'0' }}</span>%
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 control-label">{% trans 'Unit Price' %}</label>
                    <div class="col-sm-9">
                        <div class="form-control no-binput">
                            <span class="order-unit-price-including-vat">
                                {% if price %}{{ price.get_currency_display }} {{ price.get_unit_price_including_vat_display|floatformat:'2' }}{% else %}0{% endif %}
                            </span> {% trans 'including VAT' %}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 control-label">{% trans 'Total Price' %}</label>
                    <div class="col-sm-9">
                        <div class="form-control no-binput">
                            <span class="order-total-price">
                            {% if price %}{{ price.get_currency_display }} {{ total_price|floatformat:'2' }}{% else %}0{% endif %}
                            </span> {% trans 'including VAT' %}
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="text-center">
                {% if form %}
                    <button class="btn btn-primary btn-lg text-uppercase" type="submit">{% trans "Confirm Order" %}</button>
                {% else %}
                    <a class="btn btn-primary btn-lg text-uppercase" href="{% url 'purchase_credit' user.pk %}">{% trans 'Back' %}</a>
                    <button class="btn btn-primary btn-lg text-uppercase" type="submit">{% trans "Purchase Credits" %}</button>
                {% endif %}
            </div>
        </form>
    {% else %}
    <p class="alert alert-info">
        {% blocktrans %}You are not permitted to purchase credits. Ask your company administrator for assistance.{% endblocktrans %}
    </p>
    {% endif %}
</div>
{% endblock content %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'credit' user.pk %}">{% trans 'Credits' %}</a></li>
    <li>{% trans 'Purchase Credits' %}</li>
{% endblock %}
