{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Winda Training Provider Transactions' %} #{{ object.order_id }}{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    {% if user.is_database_admin %}
        <li><a href="{% url 'database_admin:training_providers' %}">{% trans 'training providers'|title %}</a></li>
        <li><a href="{% url 'database_admin:training_provider_detail' training_provider.pk %}">{{ training_provider.name|title }}</a></li>
    {% else %}
        <li><a href="{% url 'credit' training_provider_id %}">{% trans 'Credits' %}</a></li>
    {% endif %}
    <li><a href="{% url 'transactions' training_provider.pk %}">{% trans 'Transactions' %}</a></li>
    <li>{% trans 'Transaction' %} #{{ object.pk }}</li>
{% endblock %}

{% block content %}
    <div class="wrapper-form">
        <h2 class="text-center">{{ training_provider.name }} - {% trans 'Transaction' %} #{{ object.pk }}</h2>

        <!-- TODO -->

        <!-- View Transaction (Purchase)
        <p>{% trans 'See details of this purchase transaction below.' %}</p> -->

        <!-- View Transaction ((Upload))
        <p>{% trans 'See details of this upload transaction below' %}</p> -->

        <!-- View Transaction Award)
        <p>{% trans 'See details of this credit transaction below' %}</p> -->

        <div class="panel panel-default">
            <div class="panel-body">
                <dl class="dl-horizontal dl-center">
                    <dt>{% trans 'transaction number'|title %}</dt>
                      <dd>{{ object.pk }}</dd>
                    <dt>{% trans 'description'|title %}</dt>
                      <dd>{{ object.description|title }}</dd>
                    <dt>{% trans 'amount'|title %}</dt>
                      <dd>{{ object.transaction_value|stringformat:"+d" }} {% trans 'credits' %}</dd>
                    <dt>{% trans 'created at'|title %}</dt>
                      <dd>{{ object.created }}</dd>
                    <dt>{% trans 'created by'|title %}</dt>
                      <dd>{{ object.created_by.get_full_name }}</dd>
                    <dt>{% trans 'reference'|title %}</dt>
                      <dd>
                        {% if object.order.order_id %}
                            <a href="{{ object.order.get_absolute_url }}">{{ object.order.order_id }}</a>
                        {% elif object.upload_batch_id %}
                            <a href="{{ object.upload_batch.get_absolute_url }}">{{ object.upload_batch.pk }}</a>
                        {% endif %}
                      </dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock content %}
