body {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
}

main {
    margin-bottom: 50px;
}

h2 {
    color: #333;
    font-size: 38px;
    font-weight: 600;
    margin: 30px 0;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

p {
    color: #999;
    line-height: 37px;
}

.text-orange {
    color: @color-orange;
}

.block-center {
    display: table;
    margin-left: auto !important;
    margin-right: auto !important;
}

.icon {
    display: inline-block;
}

.icon-ic_status_rectangle {
    color: @color-red;
    vertical-align: middle;
    margin-right: 3px;
}
.icon-ic_status_circle {
    color: @color-green;
    vertical-align: middle;
    margin-right: 3px;
}
.icon-ic_status_triangle {
    color: @color-yellow;
    vertical-align: middle;
    margin-right: 3px;
}
.btn {
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    &.btn-lg {
        font-size: 16px;
    }
}

.top-right-position {
    position: absolute;
    right: 15px;
    top: 22px;
    > * {
        margin: 16px 0;
    }
}
.datepicker table tr td.active{
    background: @color-orange !important;
}
// spinner
.spinner-wrapper {
    display: none;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    .loader {
        z-index: 2800;
        top: 50% !important;
        left: 50% !important;
        margin-top: -48px !important;
        margin-left: -48px !important;
        font-size: 16px;
        position: absolute;
        text-indent: -9999em;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        border: 5px solid transparent;
        border-bottom-color: @color-orange;
        border-top-color: @color-orange;
        animation: rotate 1.5s linear 0s infinite;
        &:after {
            border-radius: 50%;
            width: 80px;
            height: 80px;
        }
    }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
