.wrapper-form {
    margin: 0 auto 0;
    max-width: 766px;
    width: 100%;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 30px 20px 14px;
    margin: 0 0 20px;

    .alert-danger {
        margin: 0;
    }
}

.btn  {
    &.btn-lg {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 700;
        margin: 2px 0;
    }
}
.btn-primary {
    background-color: @color-blue;
    border-color:  @color-blue;
}

form {

    .form-control {
        height: auto;
        padding: 10px 12px;

        &:focus {
            border-color: #ed7800;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #ed7800;
        }
    }
    .no-binput {
        background: none !important;
        border: none;
        box-shadow: none;
        margin-top: -3px;
        padding: 10px 0;
    }

    .helper {
        margin: 10px 0;
    }

    textarea {
        resize: none;
    }
    
    label {
        line-height: 1;
    }

    a {
        color: #0090ff;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }

    .tittle {
        margin-bottom: 20px;
        h3 {
            margin: 0;
        }
    }

    .btn-file {
        input {
            display: none;
        }
    }

    .help-block {
        font-size: 12px;
        line-height: 1.4;
    }

    .file-name-wrapper {
        margin-left: 20px;
        word-wrap: break-word;
        display: none;

        .close {
            float: none;
            margin-left: 10px;
            vertical-align: middle;
            opacity: 0.6;
        }
    }
    .vert-l {
        margin: 15px 0;
    }

}
.form-horizontal {
    .form-group {
        &.block-center {
            margin-bottom: 20px;
        }
        .control-label {
            padding-top: 10px;
            font-weight: 600;
            line-height: 1;
        }
    }
}
.checkbox {
    position: relative;
    input {
        display: none;
    }
    label {
        position: relative;
        .check {
            content: "";
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            width: 15px;
            height: 15px;
            border: 2px solid #a1a1a1;
        }
    }

    input:checked {

        & + .check {
            background-color: @color-orange;
            border-color: @color-orange;
            &:after {
                font-family: 'Glyphicons Halflings';
                content: "\e013";
                font-size: 11px;
                position: absolute;
                color: #fff;
                left: 1px;
                top: -1px;
            }
        }
    }
}
.errors, .errorlist {
    color: #b94a48;
    font-size: 12px;
    font-weight: 700;
    padding-left: 0;
    list-style: none;
    .errorlist {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            margin-top: 5px;
        }
    }
}
.alert {
    line-height: 1.5;
    word-wrap: break-word;
    li {
        list-style: none;
    }
}
.input-group {
    &.date {
        .form-control {
            border-radius: 4px;
        }
        .input-group-addon {
            background: transparent;
            border: none;
        }
    }
}
.icon-btn_calendar {
    cursor: pointer;
    font-size: 30px;
    color: #0b4475;
}
.datepicker table tr td.active {
    
}
.text-center {
    > form {
        display: inline-block;
    }
}
.disabled {
    pointer-events: none;
    opacity: .6;
}
.confirm-modal {
    text-align: center;
    &:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
    &.fade .modal-dialog {
        transform: scale(0.9);
        opacity: 0;
        transition: all 0.3s ease;
    }
    &.fade.in .modal-dialog {
        transform: scale(1);
        opacity: 1;
    }
    .btn {
        border-radius: 6px;
        font-size: 15px;
        width: 100px;
    }
    h4 {
        margin: 0;
    }
}
.mailout-form {
    #id_country {
        margin-top: 7px;
    }
    .col-sm-2 {
        .no-binput {
            margin-top: 0;
        }
    }
    .course-completion  {
        label {
            display: block;
            margin: 9px 0 17px 0;
        }
    }
}
.modal-sm {
    max-width: 320px;
    width: 100%;
}
