.header-main {
    .header-top {
        padding: 20px 0;
    }
    &.open {
        background: #003e6a;
    }
}

.navbar-inverse {
    background-color: @color-blue;
    border: none;
    border-radius: 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.23);
    color: #fff;
    margin: 0;
    min-height: 9px;

    .navbar-collapse {
        padding: 0;
        border: none;
        box-shadow: none;
    }

    .navbar-nav {

        li {
            position: relative;

            > a {
                color: #fff;

                &.active, &:hover {
                    background: @color-orange;
                }
            }
            ul {
                padding: 0;
                border: 1px solid @color-blue;
                border-radius: 5px;
                background: #fff;
                text-align: left;
                li {
                    list-style: none;
                    a {
                        padding: 5px 15px;
                        white-space: nowrap;
                        text-decoration: none;
                        display: block;
                        color: #333;
                        &.active, &:hover {
                            color: #fff;
                            background-color: @color-blue;
                        }
                    }
                }
            }
            .sub-menu {
                display: none;
                position: absolute;
                padding-top: 5px;
                top: 50px;
                z-index: 1;
            }
            &:hover {
                .sub-menu {
                    display: block;
                }
                > a {
                    color: #fff;
                    background: @color-orange;
                }
            }
        }
    }
}

.breadcrumb {
    background: transparent;
    padding: 15px 0 0;
    margin-bottom: 15px;

    > li {
        color: #777;

        & + li {
            &:before {
                border-right: 2px solid @color-orange;
                border-top: 2px solid @color-orange;
                content: '';
                width: 7px;
                height: 7px;
                display: inline-block;
                margin: 0 19px 1px 13px;
                padding: 0;
                transform: rotate(45deg);
            }
        }
    }

    a {
        color: #777;
    }
}

.user-header {
    margin-top: 6px;
    .full-name {
        color: @color-blue;
    }
    .icon {
        color: @color-orange;
        vertical-align: middle;
        margin-right: 3px;
    }
}
