.panel {
    position: relative;
    .panel-body {
        padding: 30px 20px;
        > h3 {
            margin: 14px 0 18px;
        }
    }
    .dataTables_wrapper {
        .dataTables_scroll {
            border: none;
            padding: 0;
        }
    }
    dl {
        margin: 0;

        dd {
            color: #777;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}
