.dataTables_wrapper .dataTables_scroll {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0 20px;
    width: 101%;
    .dataTables_scrollBody {
        border: none;
        overflow-x: hidden!important;
    }
}
table.dataTable {
    border-color: #ddd;
    thead  {
        th {
            background: none;
            border-color: #ddd;
        }
        .sorting {
            background: none;
            position: relative;
            overflow: hidden;
            padding-left: 10px;
            &:after {
                content: url("../images/sort_both.png");
                position: absolute;
                top: 10px;
                margin-left: 10px;
            }
        }
        .sorting_asc {
            .sorting;
            &:after {
                content: url("../images/sort_asc.png");
                top: 6px;
            }
        }
        .sorting_desc {
            .sorting;
            &:after {
                content: url("../images/sort_desc.png");
                top: 10px;
            }
        }
    }
    tbody {
        tr {
            & > .sorting_1 {
                background: transparent!important;
            }
            &.child {
                ul {
                    display: block;
                }
            }
        }
    }
    &.dtr-inline.collapsed>tbody>tr>td:first-child {
        &:before {
            background-color: @color-blue;
            border-color: @color-blue;
            box-shadow: none;
            font-weight: 700;
            top: 17px;
            left: 20px;
        }
    }
    &.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before {
        background-color: @color-orange;
        border-color: @color-orange;
    }
}
.dataTables_wrapper {
    .dataTables_paginate {
        padding-top: 20px;
        .paginate_button, .paginate_button.disabled, .paginate_button.disabled:hover {
            background: transparent;
            border: 1px solid #ddd;
            line-height: 28px;
            font-weight: 700;
            text-align: center;
            margin: 0 0 0 -1px;
            border-radius: 0;
            padding: 0;
            height: 28px;
            width: 28px;
            &.current {
                color: #fff!important;
                background: @color-blue;
            }
            &.previous {
                border-radius: 2px 0 0 2px;
            }
            &.next {
                border-radius: 0 2px 2px 0;
            }
        }
        .paginate_button:hover {
            background: #CCD8E1;
            border-color: #ddd;
            color: #333!important;
        }
    }
    .dataTables_filter {
        input {
            height: auto;
            padding: 10px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            margin-bottom: 10px;
            font-weight: 100;
            outline: none;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            &:focus {
                border-color: #ed7800;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #ed7800;
            }
        }
    }
}

table.datatables-simple.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
table.no-ordering tbody>tr>td:first-child:before {
    top: 8px !important;
    left: 4px !important;
}

table.no-ordering thead th {
    padding-left: 10px;
}

#database_admin_users_filter {
    display: none;
}
#search-database-admin-users {
    margin-bottom: 20px;
    .form-group {
        max-width: 300px;
        display: inline-block;
        width: 70%;
        .form-control {
            width: 100%;
        }
    }
    .btn {
        margin-left: 10px;
        font-size: 14px;
        height: 40px;
    }
}
.total-ul {
    li {
        list-style: none;
        border-bottom: 1px solid #efefef;
        padding: 0.5em 0;
    }
    .dtr-title {
        font-weight: bold;
    }
}
