{% extends "base.html" %}
{% load i18n %}

{% block title %}Winda Database Admin{% endblock title %}

{% block content %}
<ul class="list-menu-home">
    <li>
        <a href="{% url 'database_super_admin:users' %}">
           <figure>
                <div class="icon-wrapper"><span class="icon icon-ic_titles_users"></span></div>
                <figcaption>
                    <h4>{% trans 'Users' %}</h4>
                    <small>{% trans 'Manage database administrators' %}</small>
                </figcaption>
            </figure>
        </a>
    </li>
</ul>
{% endblock content %}

{% block breadcrumb %}{% endblock breadcrumb %}
