{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% blocktrans %}Winda Database Super Admin - Users{% endblocktrans %}{% endblock title %}

{% block content %}
<div class="wrapper-form">
    <h2 class="text-center">{% if object %}
        {% trans 'manage user'|title %}{% else %}
        {% trans 'new user'|title %}{% endif %}
    </h2>

    <form method="POST" action="#" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            <div class="form-group row">
                <label class="col-sm-3 control-label text-right" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label|capfirst }}</label>
                <div class="col-sm-9">
                    {% render_field form.first_name class='form-control' placeholder=form.first_name.label|capfirst %}
                    <div class="errors">{{ form.first_name.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label text-right" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label|capfirst }}</label>
                <div class="col-sm-9">
                    {% render_field form.last_name class='form-control' placeholder=form.last_name.label|capfirst %}
                    <div class="errors">{{ form.last_name.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label text-right" for="{{ form.email.id_for_label }}">
                    {% if object %}
                        {% trans 'Email address' %}
                    {% else %}
                        {{ form.email.label|capfirst }}
                    {% endif %}
                </label>
                <div class="col-sm-9">
                    {% if object %}
                        <div class="form-control no-binput">{{ object.email }}</div>
                    {% else %}
                        {% render_field form.email class='form-control' placeholder=form.email.label|capfirst %}
                        <div class="errors">{{ form.email.errors }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label text-right" for="{{ form.expires_at.id_for_label }}">{{ form.expires_at.label|capfirst }}</label>
                <div class="col-sm-9">
                    <span class="input-group date" class="date-start">
                        {% render_field form.expires_at class='form-control' placeholder=' - -' %}
                        <span style="" class="input-group-addon">
                            <span class="icon icon-btn_calendar"></span>
                        </span>
                    </span>
                    <div class="errors">{{ form.expires_at.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-xs-4 control-label text-right" for="{{ form.is_active.id_for_label }}">{{ form.is_active.label|capfirst }}</label>
                <div class="col-sm-9 col-xs-8">
                    <div class="checkbox">
                        <label>{{ form.is_active }} <span class="check"></span></label>
                    </div>
                    <div class="errors">{{ form.is_active.errors }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 control-label text-right" for="{{ form.role.id_for_label }}">{{ form.role.label|capfirst }}</label>
                <div class="col-sm-9">
                    {% render_field form.role class='form-control' placeholder=form.role.label|capfirst %}
                    <div class="errors">{{ form.role.errors }}</div>
                </div>
            </div>
            {% if object %}
                <div class="form-group row">
                    <label class="col-sm-3 control-label text-right" for="{{ form.email_status.id_for_label }}">{{ form.email_status.label|capfirst }}</label>
                    <div class="col-sm-9">
                        {% render_field form.email_status class='form-control' placeholder=form.email_status.label|capfirst %}
                        <div class="errors">{{ form.email_status.errors }}</div>
                    </div>
                </div>
            {% endif %}
        </fieldset>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg text-uppercase">{% if object %}{% trans "update user"|capfirst %}{% else %}{% trans "create user"|capfirst %}{% endif %}</button>
        </div>
    </form>
</div>
{% endblock content %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'database_super_admin:users' %}">{% trans 'users'|title %}</a></li>
    <li>{% if object %}{{ object.get_full_name|title }}{% else %}{% trans 'new user'|title %}{% endif %}</li>
{% endblock %}
