{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% blocktrans %}Winda Database Super Admin - Users{% endblocktrans %}{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    <li>{% trans 'Users' %}</li>
{% endblock %}

{% block content %}
    <h2 class="text-center">{% trans 'Users' %}</h2>

    <p><a class="btn btn-default" href="{% url 'database_super_admin:user_create' %}">{% trans 'create new user'|title %}</a></p>
    <table cellspacing="0" width="100%" id="database_super_admin_users" class="display responsive nowrap dataTable no-footer dtr-inline">
        <thead><tr>
            {% for title in form.FIELDS.values %}
                <th>{{ title }}</th>
            {% endfor %}
        </tr></thead>
        <tbody></tbody>
    </table>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            initializeDataTable('table#database_super_admin_users', {
                "order": [[ 4, 'asc' ]],
                "columns": [
                    {"data": "", 'searchable': false, 'orderable': false, "className": "control"},
                    {"data": "username"},
                    {"data": "first_name"},
                    {"data": "last_name"},
                    {"data": "email"},
                    {"data": "role"},
                    {"data": "is_active"},
                    {"data": "expires_at"}
                ]
            });
        });
    </script>
{% endblock javascript %}
