{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% trans 'Delegate Certificate' %}</title>
    <style type="text/css">
        .wrapper {
          font-family: Arial, Helvetica, sans-serif;
          margin: 0 auto;
          width: 100%;
        }
       .text-center {
          text-align: center;
       }
        table {
          border-collapse: collapse;
          border-right: 1px solid;
          border-top: 1px solid;
          border-bottom: 1px solid;
          width: 100%;
        }
        tr:nth-child(odd) {background: #eee}
        thead td {
          background: #ccc;
        }
        td {
          font-size: 12px;
          border-top: none;
          border-bottom: none;
          border-width: 1px;
          border-right: none;
          border-left: 1px solid;
        }
      </style>
</head>
<body>

<div class="wrapper">
    <div class="text-center">
        <img src="images/sample_image.jpg" width='100' height='100'/>
        <h2>{% trans 'Global Wind Organization' %}
        <br>{% trans 'WINDA Delegate Training Certificate' %}</h2>
        <p><strong>{% trans 'Winda ID' %}</strong><br>
            <span>{{delegate.delegate_id}}</span></p>
        <p><strong>{% trans 'Delegate Name' %}</strong><br>
            <span>{{delegate.get_full_name}}</span></p>
    </div>
    <table cellpadding="5">
        <caption><p class="text-center">{% trans 'Training certificate generated on' %} {% now 'DATETIME_FORMAT' %}</p></caption>
        <thead>
            <tr>
                <td>{% trans 'Course Title' %}</td>
                <td>{% trans 'Course Code' %}</td>
                <td>{% trans 'Training Provider' %}</td>
                <td>{% trans 'Country' %}</td>
                <td>{% trans 'Completion Date' %}</td>
                <td>{% trans 'Valid From' %}</td>
                <td>{% trans 'Valid Until' %}</td>
                <td>{% trans 'Status' %}</td>
            </tr>
        </thead>
        <tbody>
        {% for record in training_records %}
            <tr>
                <td>{{record.course.title}}</td>
                <td>{{record.course.code}}</td>
                <td>{{record.training_provider.name}}</td>
                <td>{{record.country.name}}</td>
                <td>{{record.completed_on|date:'DATE_FORMAT'}}</td>
                <td>{{record.valid_from|date:'DATE_FORMAT'}}</td>
                <td>{{record.valid_until|date:'DATE_FORMAT'}}</td>
                <td>{{record.get_status_display|safe}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  <br><br><br><br>
    <table cellpadding="5">
        <thead>
            <tr>
                <td>{% trans 'Training Provider' %}</td>
                <td>{% trans 'Country' %}</td>
                <td>{% trans 'Address' %}</td>
            </tr>
        </thead>
        <tbody>
        {% for provider in training_providers %}
            <tr>
                <td>{{provider.name}}</td>
                <td>{{provider.country.name}}</td>
                <td>{{provider.address_1}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br>
    <p style="font-size: 13px;">
        <strong>{% trans 'Certificate Code' %}:</strong> {{certificate.certificate_code}}<br>
        <strong>{% trans 'Certificate URL' %}:</strong> <a href="{{certificate_url}}">{{certificate_url}}</a>
    </p>
    <p style="font-size: 12px;">
        {% blocktrans %}
            Verify the current training status of delegates by searching WINDA at <a href="{{domain}}">{{domain}}</a>
        {% endblocktrans%}
    </p>
  </div>


</body>
</html>
