{% extends "base.html" %}
{% load i18n %}

{% block title %}Winda Delegate{% endblock title %}
{% block content %}
<div class="row">

</div>
<div class="row">
{% if training_records.count %}
    <p class="alert alert-info">{% trans 'Something went wrong try again later.' %}</p>
{% else %}
    <p class="alert alert-info">{% trans 'No current training records exist for this delegate.' %}</p>
{% endif %}
</div>
{% endblock content %}

{% block breadcrumb %}
    {{ block.super }}
    <li>{% trans 'Delegate Certificate' %}</li>
{% endblock %}
