{% extends "base.html" %}
{% load i18n %}

{% block title %}Winda Delegate{% endblock title %}
{% block content %}
<ul class="list-menu-home">
    <li>
        <a href="{% url 'delegate:training-record' delegate_id=object.delegate_id %}">
           <figure>
                <div class="icon-wrapper"><span class="icon icon-ic_titles_training_record"></span></div>
                <figcaption>
                    <h4>{% trans 'Training Record' %}</h4>
                    <small>{% trans 'View and print your GWO training records that has been added to your profile by your Training Provider. Please ensure that your training records are always valid as you will not be able to attend a refresher training course with an expired training record.' %}</small>
                </figcaption>
            </figure>
        </a>
    </li>
    <li>
        <a href="{% url 'delegate:profile' delegate_id=object.delegate_id %}">
           <figure>
                <div class="icon-wrapper"><span class="icon icon-ic_titles_edit_profile"></span></div>
                <figcaption>
                    <h4>{% trans 'My Profile' %}</h4>
                    <small>{% trans 'View your personal information that you have registered in WINDA. You can also edit or change your email address.' %}</small>
                </figcaption>
            </figure>
        </a>
    </li>
    <li>
        <a href="{% url 'delegate:search' %}">
           <figure>
                <div class="icon-wrapper"><span class="icon icon-ic_titles_search"></span></div>
                <figcaption>
                    <h4>{% trans 'Search' %}</h4>
                    <small>{% trans 'Search for an individual’s training record. You will need their WINDA ID in order to use the search function.' %}</small>
                </figcaption>
            </figure>
        </a>
    </li>
</ul>
{% endblock content %}

{% block breadcrumb %}{% endblock %}
