{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}Winda Delegate{% endblock title %}
{% block content %}
<div class="wrapper-form">
<h2 class="text-center">{% trans 'My profile' %}</h2>
<p>{% trans 'This is the information that you have registered in WINDA. You are not able to change your name. If you have changed your email address, please update it in the field below.' %}</p>
<form method="POST" action="#" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
      <div class="form-group row">
            <label class="col-sm-3 control-label text-right" form="{{ form.delegate_id.id_for_label }}">{{ form.delegate_id.label|capfirst }}</label>
            <div class="col-sm-9">
                {% render_field form.delegate_id class='form-control no-binput' placeholder=form.delegate_id.label|capfirst %}
                <div class="errors">{{ form.delegate_id.errors }}</div>
            </div>
      </div>
      <div class="form-group row">
            <label class="col-sm-3 control-label text-right" form="{{ form.first_name.id_for_label }}">{{ form.first_name.label|capfirst }}</label>
            <div class="col-sm-9">
                {% render_field form.first_name class='form-control no-binput' placeholder=form.first_name.label|capfirst %}
                <div class="errors">{{ form.first_name.errors }}</div>
            </div>
      </div>
      <div class="form-group row">
            <label class="col-sm-3 control-label text-right" form="{{ form.last_name.id_for_label }}">{{ form.last_name.label|capfirst }}</label>
            <div class="col-sm-9">
                {% render_field form.last_name class='form-control no-binput' placeholder=form.last_name.label|capfirst %}
                <div class="errors">{{ form.last_name.errors }}</div>
            </div>
      </div>
      <div class="form-group row">
            <label class="col-sm-3 control-label text-right" form="{{ form.email.id_for_label }}">{{ form.email.label|capfirst }}</label>
            <div class="col-sm-9">
                {% render_field form.email class='form-control' placeholder=form.email.label|capfirst %}
                <div class="errors">{{ form.email.errors }}</div>
            </div>
      </div>
      <div class="form-group row">
            <label class="col-sm-3 control-label text-right" form="{{ form.timezone.id_for_label }}">{{ form.timezone.label|capfirst }}</label>
            <div class="col-sm-9">
                {% render_field form.timezone class='form-control' placeholder=form.timezone.label|capfirst %}
                <div class="errors">{{ form.timezone.errors }}</div>
            </div>
      </div>
    </fieldset>
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg text-uppercase">{% trans 'Update Profile' %}</button>
    </div>
</form>
</div>
{% endblock content %}

{% block breadcrumb %}
    {{ block.super }}
    <li>{% trans 'My Profile' %}</li>
{% endblock %}
