{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}{% trans "Search" %}{% if user.is_organization %} {% trans 'Training Records' %}{% endif %}{% endblock title %}
{% block content %}
<div class="wrapper-form">
    <p>{% trans 'If an individual has provided you with their WINDA ID, you can verify their current training status by entering the ID in the field below.' %}</p>
    <form method="POST" action="#" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            <div class="form-group row">
                <label class="col-sm-3 control-label text-right" form="{{ form.delegate_id.id_for_label }}">{{ form.delegate_id.label|capfirst }}</label>
                <div class="col-sm-9">
                    {% render_field form.delegate_id class='form-control' placeholder=form.delegate_id.label|capfirst %}
                    <div class="errors">{{ form.delegate_id.errors }}</div>
                </div>
            </div>
        </fieldset>
        <div class="text-center">
            <button class="btn btn-primary btn-lg text-uppercase" type="submit">{% trans "Search" %}</button>
        </div>
    </form>
</div>
{% endblock content %}

{% block breadcrumb %}
    {{ block.super }}
    <li>{% trans "Search" %}{% if user.is_organization %} {% trans 'Training Records' %}{% endif %}</li>
{% endblock breadcrumb %}
