{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Search" %}{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'delegate:search' %}">{% trans 'Search' %}</a></li>
    <li>{% trans 'Winda ID' %} {{ delegate_id }}</li>
{% endblock %}

{% block content %}
    <h4 class="text-center">{% trans 'Search results show current training records only.' %}</h4>
    <h4 class="text-center">{% trans 'Search results valid as at' %} {% now 'DATETIME_FORMAT' %}.</h4>
    <table id="delegate-search-result" class="display responsive nowrap dataTable no-footer dtr-inline">
        <thead><tr>
            {% for title in form.FIELDS.values %}
                <th>{{ title }}</th>
            {% endfor %}
        </tr></thead>
        <tbody></tbody>
    </table>
{% endblock content %}
