{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% blocktrans %}Winda Delegate{% endblocktrans %}{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    <li>{% trans 'Training Record' %}</li>
{% endblock %}

{% block content %}
    <h2 class="text-center">{% trans 'Training Record' %}</h2>
    <div class="text-center">
        <a href="{% url 'delegate:generate-certificate' delegate_id=user.delegate_id %}" class="btn btn-default download-btn">{% trans 'Download training certificate'|capfirst %}</a>
    </div>
    <h3 class="text-center">{% trans 'Training record current as at' %} {% now 'DATETIME_FORMAT' %}</h3>
    <table id="training_record" class="display responsive nowrap dataTable no-footer dtr-inline">
        <thead><tr>
            {% for title in form.FIELDS.values %}
                <th>{{ title|title }}</th>
            {% endfor %}
        </tr></thead>
        <tbody></tbody>
    </table>
{% endblock content %}
