body, .no-print {visibility:hidden;}
.print {
    visibility:visible;
    font-size: 9pt;
}
#order_detail_wrapper {
    visibility:visible;
    width: 100%;
}
table.print {
    width: 55% !important;
}
.wrapper-form.print {
    width: 60% !important;
}
.print dd, .print dt {
    font-size: 13px !important;
}
.print td {
    font-size: 12px !important;
    white-space: normal !important;
}
.print tr {
    page-break-inside: avoid !important;
} 
.print th {
    font-size: 12px !important;
}
.header-main, .breadcrumb {
    display: none;
}
.text-center {
    margin-top: 0;
}
