@font-face {
    font-family: 'winda';
    src:    url('../fonts/winda.eot?cmwv0v');
    src:    url('../fonts/winda.eot?cmwv0v#iefix') format('embedded-opentype'),
        url('../fonts/winda.ttf?cmwv0v') format('truetype'),
        url('../fonts/winda.woff?cmwv0v') format('woff'),
        url('../fonts/winda.svg?cmwv0v#winda') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'winda' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ic_status_rectangle:before {
    content: "\e91c";
}
.icon-ic_status_triangle:before {
    content: "\e91d";
}
.icon-ic_status_circle:before {
    content: "\e91e";
}
.icon-ic_titles_reports:before {
    content: "\e91a";
}
.icon-ic_titles_edit_delegate_profile:before {
    content: "\e91b";
}
.icon-ic_titles_search_training_record:before {
    content: "\e915";
}
.icon-ic_titles_training_record:before {
    content: "\e916";
}
.icon-ic_titles_training_reg:before {
    content: "\e917";
}
.icon-ic_titles_company_reg:before {
    content: "\e918";
}
.icon-ic_titles_delegate_reg:before {
    content: "\e919";
}
.icon-ic_titles_about:before {
    content: "\e905";
}
.icon-ic_titles_accreditations:before {
    content: "\e906";
}
.icon-ic_titles_certifications:before {
    content: "\e907";
}
.icon-ic_titles_courses:before {
    content: "\e908";
}
.icon-ic_titles_credits:before {
    content: "\e909";
}
.icon-ic_titles_edit_profile:before {
    content: "\e90a";
}
.icon-ic_titles_orders:before {
    content: "\e90b";
}
.icon-ic_titles_purchase:before {
    content: "\e90c";
}
.icon-ic_titles_registration:before {
    content: "\e90d";
}
.icon-ic_titles_search:before {
    content: "\e90e";
}
.icon-ic_titles_signin:before {
    content: "\e90f";
}
.icon-ic_titles_transactions:before {
    content: "\e910";
}
.icon-ic_titles_uploads:before {
    content: "\e911";
}
.icon-ic_titles_users:before {
    content: "\e912";
}
.icon-ic_titles_view_profile:before {
    content: "\e913";
}
.icon-btn_calendar:before {
    content: "\e900";
}
.icon-ic_user:before {
    content: "\e914";
}
.icon-btn_table_expand:before {
    content: "\e903";
}
.icon-btn_table_collapse:before {
    content: "\e902";
}
.icon-ic_chevrone:before {
    content: "\e904";
}
.icon-btn_close:before {
    content: "\e901";
}

