/* This is a fix for the bootstrap4 alpha release */
@media (max-width: 992px) {
    .accordion {
        .form-inline {
            .form-group {
                min-width: 180px;
                max-width: 180px;
                margin-right: 9px;
            }
            select {
                min-width: 180px;
                max-width: 180px;
            }
        }
    }
}
@media (max-width: 767px) {
    .navbar-inverse {
        .navbar-toggle {
            border: none;
            background: none;
            margin: -54px 15px 0 0;
            &:focus, &:hover {
                background: none;
            }
            .icon-bar {
                background-color: #fff;
                transition: all 0.2s;
                &.top-bar {
                    transform: rotate(45deg);
                    transform-origin: 10% 10%;
                }
                &.middle-bar {
                    opacity: 0;
                }
                &.bottom-bar {
                    transform: rotate(-45deg);
                    transform-origin: 10% 90%;
                }
            }
            &.collapsed {
                .icon-bar {
                    background-color: #003e6a;
                }
                .top-bar {
                    transform: rotate(0);
                }
                .middle-bar {
                    opacity: 1;
                }
                .bottom-bar {
                    transform: rotate(0);
                }
            }
        }
        .user-header {
            background-color: #003256;
            padding: 20px 0;
            .full-name {
                color: #fff;
            }
        }
        .navbar-nav {

            li {
                ul {
                    padding: 0;
                    background-color: #003256;
                    text-align: center;
                    li {
                        list-style: none;
                        padding: 10px 0;
                        a {
                            color: #61849d;
                            text-decoration: none;
                            &.active, &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
                .sub-menu {
                    display: block;
                    position: static;
                    padding: 0;
                }
            }
        }
    }
    .header-top {
        .main-logo {
            width: 158px;
        }
    }
    h2 {
        font-size: 28px;
        margin: 11px 0;
    }
    fieldset {
        border-left: none;
        border-right: none;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .checkbox {
        label {
            padding-left: 32px;
            .check {
                height: 24px;
                width: 24px;
            }
        }
        input:checked {

            & + .check {
                &:after {
                    font-size: 14px;
                    left: 3px;
                    top: 2px;
                }
            }
        }
    }
    form {
        select.form-control {
            height: 42px;
            -webkit-appearance: none;
        }
    }
    .order-detail-wrapper {
        border: 1px solid #ddd;
        border-radius: 4px;
        .dataTables_wrapper  {
            .dataTables_scroll {
                border: none;
            }
        }
        .total-ul {
            border-top: 1px solid #ddd;
            padding: 0;
            margin: 0 20px;
             li {
                margin-left: 32px;
             }
        }
    }
}

@media (max-width: 480px) {
    .form-horizontal {
        .col-sm-9.col-xs-8, .col-sm-9.col-xs-7 {
            .checkbox {
                padding-top: 0;
            }
        }
    }
    .panel {
        .panel-body {
            padding: 10px 20px;
        }
    }
    .top-right-position {
        top: 7px;
        > * {
            margin: 5px 0;
        }
    }
    .confirm-modal {
        &:before {
            height: auto;
        }
    }
    .accordion {
        .panel-default {
            .panel-collapse {
                .panel-body {
                    padding: 0 0 20px 30px;
                }
            }
        }
    }
    #transactions_wrapper {
        table.dataTable.nowrap th:nth-child(2) {
            white-space: normal !important;
            &:after {
                right: 3px;
            }
        }
    }
}
@media (min-width: 630px) {
    .list-menu-home-wrapper {
        padding: 0;
        width: 100%;
        .lSAction {
            display: none !important;
        }
        .lSSlideOuter .lSPager.lSpg {
            display: none;
        }
        .list-menu-home {
            width: 100% !important;
            height: 100% !important;
            transform: none !important;
            li {
                margin: 10px 65px !important;
                width: 170px!important;
                float: none;
                h4 {
                    white-space: normal;
                }
            }
        }
    }
}

@media (min-width: 480px) {
    .dl-horizontal.dl-center {
        font-size: 0;
        text-align: center;

        dt, dd {
            width: 48%;
            margin: 8px 0;
            display: inline-block;
            font-size: 16px;
            vertical-align: middle;
        }

        dt {
            text-align: right;
            padding-right: 10px;
        }
        dd {
            text-align: left;
            padding-left: 10px;
        }
    }

}
@media (min-width: 768px) {
    .course-completion {
        .course-date-wraper {
            width: 200px;
            display: inline-block;
            vertical-align: middle;
        }
        .middle-block {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
        .last-block {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .search-results {
        line-height: 1;
        margin: -20px 0 10px 0;
    }
}
