{% load i18n %}

<ul class="nav navbar-nav text-center">
    {% if request.user.is_authenticated %}
        {% if request.user.is_database_super_admin %}
            <li>
                <a class="nav-link{% if active_tab == 'users' %} active{% endif %}" href="{% url 'database_super_admin:users' %}">{% trans "Users" %}</a>
            </li>
        {% elif request.user.is_database_admin %}
            <li>
                <a class="nav-link{% if active_tab == 'report' %} active{% endif %}" href="{% url 'database_admin:reports' %}">{% trans "Reports" %}</a>
            </li>
            <li>
                <a class="nav-link{% if active_tab == 'training_provider' %} active{% endif %}" href="{% url 'database_admin:training_providers' %}">{% trans "Training Providers" %}</a>
            </li>
            <li>
                <a class="nav-link{% if active_tab == 'users' %} active{% endif %}" href="{% url 'database_admin:users' %}">{% trans "Users" %}</a>
            </li>
            <li>
                <a class="nav-link{% if active_tab == 'courses' %} active{% endif %}" href="{% url 'database_admin:courses' %}">{% trans "Courses" %}</a>
            </li>
            <li>
                <a class="nav-link{% if active_tab == 'mailout' %} active{% endif %}" href="{% url 'database_admin:mailout' %}">{% trans "Mailout" %}</a>
            </li>
        {% elif request.user.is_training_provider_admin or request.user.is_training_provider_user %}
            <li>
                <a class="nav-link{% if active_tab == 'upload' %} active{% endif %}" href="{% url 'training_provider:uploads' request.user.training_provider.pk %}">{% trans "Uploads" %}</a>
            </li>
            <li>
                <a class="nav-link{% if active_tab == 'credit' %} active{% endif %}" href="{% url 'credit' user.pk %}">{% trans "Credits" %}</a>
                {% if request.user.training_provider %}
                    <div class="sub-menu">
                       <ul>
                           <li><a href="{% url 'purchase_credit' request.user.training_provider.pk %}">{% trans 'Purchase Credits' %}</a></li>
                           <li><a href="{% url 'orders' request.user.training_provider.pk %}">{% trans 'Orders' %}</a></li>
                           <li><a href="{% url 'transactions' request.user.training_provider.pk %}">{% trans 'Transactions' %}</a></li>
                       </ul>
                   </div>
               {% endif %}
            </li>
            {% if request.user.is_training_provider_admin %}
            <li>
                <a class="nav-link{% if active_tab == 'user' %} active{% endif %}" href="{% url 'training_provider:users' request.user.pk %}">{% trans "Users" %}</a>
            </li>
            {% endif %}
            <li>
                <a class="nav-link{% if active_tab == 'search' %} active{% endif %}" href="{% url 'organization:search' %}">{% trans "Search Training Records" %}</a>
            </li>
            <li>
                <a class="nav-link{% if active_tab == 'company_profile' %} active{% endif %}" href="{% url 'training_provider:company_profile' request.user.pk %}">{% trans "Company Profile" %}</a>
            </li>
        {% elif request.user.is_delegate %}
            <li>
                <a class="nav-link{% if active_tab == 'training_record' %} active{% endif %}" href="{% url 'delegate:training-record' delegate_id=request.user.delegate_id %}">{% trans "Training Record" %}</a>
            </li>
            <li>
                <a class="nav-link{% if active_tab == 'profile' %} active{% endif %}" href="{% url 'delegate:profile' delegate_id=request.user.delegate_id %}">{% trans "My profile" %}</a>
            </li>
            <li>
                <a class="nav-link{% if active_tab == 'search' %} active{% endif %}" href="{% url 'delegate:search' %}">{% trans "Search" %}</a>
            </li>
        {% elif request.user.is_organization %}
            <li>
                <a class="nav-link{% if active_tab == 'search' %} active{% endif %}" href="{% url 'organization:search' %}">{% trans "Search Training Records" %}</a>
            </li>
            <li>
                <a class="nav-link{% if active_tab == 'profile' %} active{% endif %}" href="{% url 'organization:profile' request.user.pk %}">{% trans "My profile" %}</a>
            </li>
        {% endif %}
        <li>
            <a class="nav-link{% if active_tab == 'change_password' %} active{% endif %}" href="{% url 'account_change_password' %}">{% trans "Change Password" %}</a>
        </li>
        <li>
            <a class="nav-link{% if active_tab == 'logout' %} active{% endif %}" href="{% url 'logout' %}">{% trans "Logout" %}</a>
        </li>
    {% else %}
        <li>
            <a class="nav-link{% if active_tab == 'signup' %} active{% endif %}" href="{% url 'signup' %}">{% trans "Register" %}</a>
            <div class="sub-menu">
                <ul>
                    <li><a href="{% url 'delegate_signup' %}">{% trans 'Delegate Registration' %}</a></li>
                    <li><a href="{% url 'organization_signup' %}">{% trans 'Organisation Registration' %}</a></li>
                    <li><a href="{% url 'training_provider_signup' %}">{% trans 'Training Provider Registration' %}</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a class="nav-link{% if active_tab == 'login' %} active{% endif %}" href="{% url 'account_login' %}">{% trans "Login" %}</a>
        </li>
        <li>
            <a class="nav-link{% if active_tab == 'about' %} active{% endif %}" href="{% url 'about' %}">{% trans 'About' %}</a>
            <div class="sub-menu">
                <ul>
                    <li><a href="{% url 'terms' %}">{% trans 'Terms and Conditions' %}</a></li>
                    <li><a href="{% url 'privacy' %}">{% trans 'Privacy Policy' %}</a></li>
                    <li><a href="{% url 'agreement' %}">{% trans 'Service Level Agreement' %}</a></li>
                </ul>
            </div>
        </li>
    {% endif %}
</ul>
<span class="text-center user-header visible-xs">
{% if user.is_authenticated %}
    {% block info %}
   <span class="icon icon-ic_user"></span> <strong class="full-name">{{request.user.first_name}} {{request.user.last_name}}</strong> {{request.user.extra_title}}
    {% endblock info %}
{% endif %}</span>
